@import 'variables';
@import 'components';
@import 'helpers';

.paragrafo {
    text-align: center;
}
.card-destaque {
    @include media-breakpoint-down(md) {
        width: 50%;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}
}

.card-destaque {
  cursor: pointer;
  p{
    margin-top: 8px;
  }
}
