<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 header v3 bg" style="background-image: url('./assets/background/ouvidoria-para-empresa.png'); ">
            <div class="col-lg-9 col-md-9 mx-auto">
                <div class="topo">
                    <h1 class="titulo-destaque">Rápido. Simples. Confiável.</h1>
                    reivindicações de seguro projetadas para facilitar um pouco as situações estressantes.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 ">
            <div class="row">
                <div class="col-lg-9 col-md-9 mx-auto text-center">
                    <h2>reivindicação do seu seguro corporativo</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 mx-auto text-center topo v2">
                    <div class="row">
                        <div class="col-lg-6 col-md-6  card-destaque v2"
                        [routerLink]="['ouvidoria-empresa-um']"
                             routerLinkActive="active">
                            <p class="txt-destque v2">Lorem ipsum </p>
                        </div>
                        <div class="col-lg-6 col-md-6 card-destaque v2"
                        [routerLink]="['ouvidoria-empresa-dois']"
                             routerLinkActive="active">
                             <p class="txt-destque v2">Lorem ipsum </p>
                        </div>
                    </div>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
