<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 help-topo bg">
            <div class="col-lg-9 col-md-9 mx-auto">
                <div class="topo">
                    <h1 class="vv">Localizador</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col-lg-9 col-md-9 mx-auto text-center content-help">
                    <h1 class="txt-destaque v4">encontre a oficina ou clínica mais próxima</h1>
                    Selecione um produto abaixo para localizar as oficinas ou instalações médicas mais próximas
                    <div class="row topo v2">
                        <div class="col-lg-1 col-md-1 elipse v3 mx-auto"></div>
                        <div class="col-lg-1 col-md-1 elipse mx-auto"></div>
                        <div class="col-lg-1 col-md-1 elipse mx-auto"></div>
                        <div class="col-lg-1 col-md-1 elipse mx-auto"></div>
                        <div class="col-lg-1 col-md-1 elipse mx-auto"></div>
                        <div class="col-lg-1 col-md-1 elipse mx-auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 topo v1">
            <div class="col-lg-11 col-md-11 mx-auto">
                <div class="row">
                    <div class="col-lg-3 col-md-3 localizador">
                        <select name="regiao" id="regiao">
                            <option value="" disabled>Selecione a Região</option>
                            <option value="regiao">Região</option>
                        </select>
                        <div class="card-localizacao" *ngFor="let localizador of localizacao;">
                            <img src="{{ localizador.icon }}" alt="">
                            {{ localizador.title }}
                            <p class="txt-destaque">
                                {{ localizador.description }}
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 mx-auto text-center">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.5520518747207!2d-46.68471198549092!3d-23.58452646833218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5742886b45eb%3A0xa4c482ff06bf8d4b!2sR.%20Iguatemi%2C%20239%20-%20Itaim%20Bibi%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2001451-011!5e0!3m2!1spt-BR!2sbr!4v1580755267636!5m2!1spt-BR!2sbr" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
