@import 'variables';
@import 'components';
@import 'helpers'; 

iframe {
    width: 100%;
    height: 70vh;
    position: relative;
    top: 0;
    left: 1%;
}

select {
    width: 100%;
    height: 7vh;
    background-color: transparent;
    color: $theme-color-3;
}

.localizador {
    background-color: $theme-color-9;
    padding: 1.5%;
    height: 70vh;
    overflow-y: scroll;
}
.card-localizacao {
    color: $theme-color-1;
    text-align: left;
    padding: 2% 0;
    img {
        width: 10%;
    }
    p {
        padding: 0 0 0 10.7%;
        font-size: 0.8em;
    }
    
}

.h1 {
    @include media-breakpoint-down(md) {
        font-size: 1.5rem;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}
   
}