@import 'variables';
@import 'components';
@import 'helpers';

.help-topo {
    @include media-breakpoint-down(md) {
        background-image: url(../../../assets/background/ajuda-mobile.png);
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {        
        background-image: url(../../../assets/background/ajuda.png);
        background-size: 100% 90%;
        position: relative;
        top: -10px;
    }
}
.desktop {
    @include media-breakpoint-down(md) {
        display: none;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        display: block;
    }
    
}
.mobile {
    @include media-breakpoint-down(md) {
        display: block;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        display: none;
    }
}

h1 {
    &.titulo-ajuda {
        color: $theme-color-1;
            padding: 10px 0;
            text-align: center;
        @include media-breakpoint-down(md) {}
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {            
            font-size: 3em;
        }
        @media only screen and (min-width: 1680px) {
            font-size: 4.5em;
        } 
    }
}
.content-help {
    @include media-breakpoint-down(md) {
        padding: 50px 30px;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        padding: 50px 0 0 0;
    }
}
.txt-destaque {
    &.v5 {
        @include media-breakpoint-down(md) {
            padding: 0;
        }
    }
}

h2 {
    padding: 0;
}