<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12  header bg" style="background-image: url('./assets/background/bg-automovel.png');">
            <div class="col-lg-9 col-md-9 mx-auto">
                <div class="topo">
                    <h1 class="v2">Assistência Automóvel</h1>
                    <h4 class="txt-descricao">Proteja o seu automovel e fique tranquilo</h4>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-11 prod-btn">
                      <a class="btn btn-cotacao v4 w-100" data-toggle="modal" data-target="#exampleModal-bagagem">
                          Estou Interessado
                      </a>
                  </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal-bagagem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-bagagem" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
            <div class="col-lg-4 col-md-2  mx-auto  card-elipse desktop">
                <div class="elipse">
                    <div class="icon-elipse v1">
                        <img src="./assets/icons/icone-assistencia-automovel.svg" alt="assistencia-automovel">
                    </div>
                </div>
                <p class="txt-elipse">Assistência Automóvel</p>
            </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        <div class="modal-body">
          <form action="#">
            <div class="form-group">
                <input type="text" class="form-control" id="exampleFormControlInput" placeholder="Nome">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="exampleFormControlInput" placeholder="DDD + Telefone">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="exampleFormControlInput" placeholder="Email">
            </div>
            <button type="button" class="btn btn-cotacao w-100">Solicitar Cotação</button>
          </form>
        </div>
      </div>
    </div>
  </div>
