<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 header bg"
            style="background-image: url('./assets/background/transacional.png');">
            <div class="col-lg-9 col-md-9 mx-auto">
                <div class="topo v1">
                    <h2>
                        Opções de
                        Pagamento
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- <div class="row"> -->
    <!-- <div class="col-lg-12 col-md-12"> -->
    <div class="row">
        <div class="col-lg-5 col-md-8 mx-auto topo">
            <ng-payment-card #cc (formSaved)="processPayment(cc)">
            </ng-payment-card>
        </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->
</div>

<div class="card boleto" data-toggle="modal" data-target="#exampleModal">
</div>

<!-- MODAL CARTÃo -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-boleto text-center">
                <img src="./assets/icons/confirmacao-cartao.png" alt="">
                <div class="pronto">
                    <p>Parabéns!</p>
                    <p>Você já está protegido.</p>
                </div>
                <div class="txt-modal v1">
                    <p>Sua apólice será enviada por email.</p>
                    <p>Procure por 'contato@88i.io', inclusive no spam.</p>
                    <p class="text-uppercase">
                        Agradecemos pela confiança na 88i
                    </p>
                    <p class="txt-modal-um">
                        Adicione nosso WhatsApp como
                        contato de segurança:
                    </p>
                </div>
                <a class="btn btn-cotacao v3">
                    <img src="./assets/icons/whatsapp-amarelo.png" alt="">
                    (11) 97803-8881
                </a>
            </div>
        </div>
    </div>
</div>