@import "variables";
@import "components";
@import "helpers";
@import "material-ajusts";

.header {
  padding: 10% 0 3% 0;
}

h2 {
  padding: 0 30%;
  font-size: 1.7em;
}

.pronto {
  font-size: 1.7em;
}
.txt-modal {
  font-size: 1.2em;
}

.btn-cotacao {
  &.v3 {
    background: transparent;
    padding: 10px 50px;
    border: 1px solid #FBDC02;
    top: 0;
    left: 0;
    border-radius: 5px;
  }
}