<div class="container-fluid menu">
  <div class="row menu-info">
    <div class="col-lg-2 col-md-2">
      <div class="logo">
        <a a href="javascript:void(0)" [routerLink]="['/home']" routerLinkActive="active">
          <img src="./assets/logo/logo-88i.png" alt="">
        </a>
      </div>
    </div>
    <!-- MENU MOBILE DROPDOWN -->
    <div class="col-lg-2 col-md-2 mobile">
      <nav class="menu-mob mobile" role="navigation">
        <div id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
            <div class="logo-menu">
              <a a href="javascript:void(0)" [routerLink]="['/home']" routerLinkActive="active">
                <img class="w-25" src="./assets/logo/logo-88i.png" alt="">
              </a>
            </div>
            <li class="dropdown">
              Produtos <p class="seta-menu">&rsaquo;</p>
              <div class="dropdown-content vv">
                <div class="produtos-voce">
                  <div class="titulo-dropdown">
                    <p class="seta-menu v1">&lsaquo;</p> Produtos
                  </div>
                  <a href="javascript:void(0)" [routerLink]="['/produtos-voce']" routerLinkActive="active">
                    <p class="txt-destaque v4">Para você</p>
                  </a>
                  <div class="row prod">
                    <div class="col-lg-1 col-md-1">
                      <a href="javascript:void(0)" [routerLink]="['/produtos-voce']"  (click)="closeNav()" routerLinkActive="active">
                        <div class="elipse v2">
                          <img src="./assets/icons/smartphone.svg" alt="smartphone">
                        </div>
                      </a>
                    </div>
                    <div class="col-lg-4 col-md-4">
                      <a href="javascript:void(0)" [routerLink]="['/produtos-voce']"  (click)="closeNav()"  routerLinkActive="active">
                        <p>Celular</p>
                      </a>
                    </div>

                    <div class="col-lg-1 col-md-1">
                      <a href="javascript:void(0)" [routerLink]="['//produtos-empresa']"  (click)="closeNav()" routerLinkActive="active">
                        <div class="elipse v2">
                          <img src="./assets/icons/icone-acidentes-pessoais.svg" alt="acidentes-pessoais">
                        </div>
                      </a>
                    </div>
                    <div class="col-lg-4 col-md-4">
                      <a href="javascript:void(0)" [routerLink]="['/produtos-empresa']"  (click)="closeNav()" routerLinkActive="active">
                        <p>Vida/Acidentes Pessoais</p>
                      </a>
                    </div>
                  </div>
                  <div class="row prod">
                    <div class="col-lg-1 col-md-1">
                      <a href="javascript:void(0)" [routerLink]="['/bagagem']" (click)="closeNav()"  routerLinkActive="active">
                        <div class="elipse v2">
                          <img src="./assets/icons/icone-bagagem.svg" alt="bagagem">
                        </div>
                      </a>
                    </div>
                    <div class="col-lg-4 col-md-4">
                      <a href="javascript:void(0)" [routerLink]="['/bagagem']"  (click)="closeNav()" routerLinkActive="active">
                        <p>Bagagem</p>
                      </a>
                    </div>

                    <div class="col-lg-1 col-md-1">
                      <a href="javascript:void(0)" [routerLink]="['/assistencia-automovel']"  (click)="closeNav()" routerLinkActive="active">
                        <div class="elipse v2">
                          <img src="./assets/icons/icone-assistencia-automovel.svg" alt="assistencia-automovel">
                        </div>
                      </a>
                    </div>
                    <div class="col-lg-4 col-md-4">
                      <a href="javascript:void(0)" [routerLink]="['/assistencia-automovel']"  (click)="closeNav()" routerLinkActive="active">
                        <p>Assistência automóvel</p>
                      </a>
                    </div>
                  </div>
                  <div class="row prod">
                    <div class="col-lg-1 col-md-1">
                      <a href="javascript:void(0)" [routerLink]="['/automovel-franquia']"  (click)="closeNav()" routerLinkActive="active">
                        <div class="elipse v2">
                          <img src="./assets/icons/icone-automovel-franquia.svg" alt="assistencia-automovel">
                        </div>
                      </a>
                    </div>
                    <div class="col-lg-4 col-md-4">
                      <a href="javascript:void(0)" [routerLink]="['/automovel-franquia']"  (click)="closeNav()" routerLinkActive="active">
                        <p>Automóvel Franquia</p>
                      </a>
                    </div>

                    <div class="col-lg-1 col-md-1">
                      <a href="javascript:void(0)" [routerLink]="['/impedimentos-ao-trabalho']"  (click)="closeNav()" routerLinkActive="active">
                        <div class="elipse v2">
                          <img src="./assets/icons/icone-impedimento-ao-trabalho.svg" alt="impedimento-trabalho">
                        </div>
                      </a>
                    </div>
                    <div class="col-lg-4 col-md-4">
                      <a href="javascript:void(0)" [routerLink]="['/impedimentos-ao-trabalho']" (click)="closeNav()"  routerLinkActive="active">
                        <p>Impedimento ao trabalho</p>
                      </a>
                    </div>

                  </div>
                </div>
              </div>
            </li> <br />

            <li class="dropdown">
              Ajuda <p class="seta-menu">&rsaquo;</p>
              <div class="dropdown-content vo text-center">
                <div class="titulo-dropdown">
                  <p class="seta-menu v2">&lsaquo;</p> Ajuda
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-3">
                    <a href="javascript:void(0)" [routerLink]="['/formulario']"  (click)="closeNav()" routerLinkActive="active">
                      <img src="./assets/icons/formulario.png" alt="">
                      <p>Formulários</p>
                    </a>
                  </div>
                  <div class="col-lg-3 col-md-3 text-uppercase">
                    <a href="javascript:void(0)" [routerLink]="['/faq']"  (click)="closeNav()" routerLinkActive="active">
                      <img src="./assets/icons/faq.png" alt="">
                      <p>Faq</p>
                    </a>
                  </div>

                  <div class="col-lg-3 col-md-3">
                    <a href="javascript:void(0)" [routerLink]="['/contato']"  (click)="closeNav()" routerLinkActive="active">
                      <img src="./assets/icons/telefone-amarelo.png" alt="">
                      <p>Contato</p>
                    </a>
                  </div>
                  <!-- <div class="col-lg-3 col-md-3">
                    <a href="javascript:void(0)" [routerLink]="['/localizador']" routerLinkActive="active">
                      <img src="./assets/icons/localizacao.png" alt="">
                      <p>Localizador</p>
                    </a>
                  </div> -->
                </div>
              </div>
            </li><br />

            <a href="javascript:void(0)" [routerLink]="['/ouvidoria-voce']" (click)="closeNav()" routerLinkActive="active">
              <li class="menu-mob-link">Sinistros</li>
            </a><br />
            <!-- <li class="dropdown">
              Ouvidoria <p class="seta-menu">&rsaquo;</p>
              <div class="dropdown-content vi text-center">
                <div class="titulo-dropdown">
                  <p class="seta-menu v3">&lsaquo;</p> Ouvidoria
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-4">
                    <a href="javascript:void(0)" [routerLink]="['/ouvidoria-voce']" routerLinkActive="active">
                      <img src="./assets/icons/users.png" alt="">
                      <p>Para você</p>
                    </a>
                  </div>
                  <div class="col-lg-4 col-md-4">
                    <a href="javascript:void(0)" [routerLink]="['/ouvidoria-empresa']" routerLinkActive="active">
                      <div class="img-menu">
                        <img src="./assets/icons/empresa.png" alt="">
                      </div>
                      <p>Para sua empresa</p>
                    </a>
                  </div>
                </div>
              </div>
            </li><br /> -->

            <li class="dropdown">
              Sobre a 88i <p class="seta-menu">&rsaquo;</p>
              <div class="dropdown-content vo v1 text-center">
                <div class="titulo-dropdown v1">
                  <p class="seta-menu v4">&lsaquo;</p> Sobre a 88i
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-3">
                    <a href="javascript:void(0)" [routerLink]="['/sobre']"  (click)="closeNav()" routerLinkActive="active">
                      <div class="img-menu v1">
                        <img src="./assets/logo/logo.png" alt="">
                      </div>
                      <p>Sobre</p>
                    </a>
                  </div>
                  <div class="col-lg-3 col-md-3">
                    <a href="javascript:void(0)" [routerLink]="['/sobre/nosso-time']" (click)="closeNav()"  routerLinkActive="active">
                      <div class="img-menu v2">
                        <img src="./assets/icons/time.png" alt="">
                      </div>
                      <p>Nosso Time</p>
                    </a>
                  </div>

                  <!-- <div class="col-lg-3 col-md-3">
                    <a href="javascript:void(0)" [routerLink]="['/sobre/trabalhe-conosco']" routerLinkActive="active">
                      <img src="./assets/icons/trabalhe-conosco.png" alt="">
                      <p>Trabalhe Conosco</p>
                    </a>
                  </div> -->
                  <div class="col-lg-3 col-md-3">
                    <a href="javascript:void(0)" [routerLink]="['/sobre/midias']"  (click)="closeNav()" routerLinkActive="active">
                      <img src="./assets/icons/midias.png" alt="">
                      <p>Mídias</p>
                    </a>
                  </div>
                </div>
              </div>
            </li><br />
            <a href="javascript:void(0)" routerLinkActive='active'  (click)="closeNav()" routerLink='blog'>
              <li class="menu-mob-link">Blog</li>
            </a><br />
            <a href="javascript:void(0)" routerLinkActive='active'  (click)="closeNav()" routerLink='promocoes'>
              <li class="menu-mob-link">Promoções</li>
            </a><br />

            <a href="#">
              <li class="txt-ajuda">Estamos aqui para te ajudar</li>
            </a>

            <a href="#">
              <li class="txt-destaque">
                <img src="./assets/icons/telefone.png" alt="">
                (11) 0000-0000
              </li>
            </a>

            <a data-toggle="modal" style="cursor: pointer;" data-target="#exampleModal">
              <li class="txt-destaque">
                <img src="./assets/icons/relogio.png" alt="">
                Ligamos pra você
              </li>
            </a>

          </ul>
        </div>
      </nav>
    </div>
    <!-- MENU DESKTOP INFOMATIVO -->
    <div class="col-lg-10 col-md-10">
      <nav class="m-info">
        <ul>
          <li class="estamos">Estamos aqui para te ajudar</li>
          <a href="#">
            <li>
              <a href="tel:97803-8881">
              <img src="./assets/icons/telefone.png" alt="">
              (11) 97803-8881</a>
            </li>
          </a>

          <a data-toggle="modal" style="cursor: pointer;" data-target="#exampleModal">
            <li>
              <img src="./assets/icons/relogio.png" alt="">
              Ligamos pra você
            </li>
          </a>
          <a class="btn btn-cotacao" data-toggle="modal" data-target="#exampleModal0"> Fazer uma cotação </a>
        </ul>
      </nav>
    </div>
  </div>
  <!-- MENU DESKTOP DROPDOWN -->
  <div class="row">
    <div class="col-lg-12 col-md-12 menu-busca desktop">
      <nav class="m-busca">
        <ul>
          <!-- <a class="btn btn-cotacao v1">
            <img src="./assets/icons/buscar.png" alt="">
          </a>
          <input type="text" placeholder="Buscar"> -->

          <li class="dropdown">
            Produtos
            <div class="dropdown-content vv">
              <div class="produtos-voce">
                <a href="javascript:void(0)">
                  <p class="txt-destaque v4">Produtos</p>
                </a>
                <div class="row prod">
                  <div class="col-lg-1 col-md-1">
                    <a href="javascript:void(0)" [routerLink]="['/produtos-voce']" routerLinkActive="active">
                      <div class="elipse v2">
                        <img src="./assets/icons/smartphone.svg" alt="smartphone">
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-md-4">
                    <a href="javascript:void(0)" [routerLink]="['/produtos-voce']" routerLinkActive="active">
                      <p>Celular</p>
                    </a>
                  </div>

                  <div class="col-lg-1 col-md-1">
                    <a href="javascript:void(0)" [routerLink]="['//produtos-empresa']" routerLinkActive="active">
                      <div class="elipse v2">
                        <img src="./assets/icons/icone-acidentes-pessoais.svg" alt="acidentes-pessoais">
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-md-4">
                    <a href="javascript:void(0)" [routerLink]="['/produtos-empresa']" routerLinkActive="active">
                      <p>Vida/Acidentes Pessoais</p>
                    </a>
                  </div>
                </div>
                <div class="row prod">
                  <div class="col-lg-1 col-md-1">
                    <a href="javascript:void(0)" [routerLink]="['/bagagem']" routerLinkActive="active">
                      <div class="elipse v2">
                        <img src="./assets/icons/icone-bagagem.svg" alt="bagagem">
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-md-4">
                    <a href="javascript:void(0)" [routerLink]="['/bagagem']" routerLinkActive="active">
                      <p>Bagagem</p>
                    </a>
                  </div>

                  <div class="col-lg-1 col-md-1">
                    <a href="javascript:void(0)" [routerLink]="['/assistencia-automovel']" routerLinkActive="active">
                      <div class="elipse v2">
                        <img src="./assets/icons/icone-assistencia-automovel.svg" alt="assistencia-automovel">
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-md-4">
                    <a href="javascript:void(0)" [routerLink]="['/assistencia-automovel']" routerLinkActive="active">
                      <p>Assistência automóvel</p>
                    </a>
                  </div>
                </div>
                <div class="row prod">
                  <div class="col-lg-1 col-md-1">
                    <a href="javascript:void(0)" [routerLink]="['/automovel-franquia']" routerLinkActive="active">
                      <div class="elipse v2">
                        <img src="./assets/icons/icone-automovel-franquia.svg" alt="assistencia-automovel">
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-md-4">
                    <a href="javascript:void(0)" [routerLink]="['/automovel-franquia']" routerLinkActive="active">
                      <p>Automóvel Franquia</p>
                    </a>
                  </div>

                  <div class="col-lg-1 col-md-1">
                    <a href="javascript:void(0)" [routerLink]="['/impedimento-ao-trabalho']" routerLinkActive="active">
                      <div class="elipse v2">
                        <img src="./assets/icons/icone-impedimento-ao-trabalho.svg" alt="impedimento-trabalho">
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-md-4">
                    <a href="javascript:void(0)" [routerLink]="['/impedimento-ao-trabalho']" routerLinkActive="active">
                      <p>Impedimento ao trabalho</p>
                    </a>
                  </div>

                </div>
              </div>

            </div>
          </li>

          <li class="dropdown">
            Ajuda
            <div class="dropdown-content vv text-center">
              <div class="row">
                <div class="col-lg-4 col-md-3">
                  <a href="javascript:void(0)" [routerLink]="['/formulario']" routerLinkActive="active">
                    <img src="./assets/icons/formulario.png" alt="">
                    <p>Formulários</p>
                  </a>
                </div>
                <div class="col-lg-4 col-md-3 text-uppercase">
                  <a href="javascript:void(0)" [routerLink]="['/faq']" routerLinkActive="active">
                    <img src="./assets/icons/faq.png" alt="">
                    <p>Faq</p>
                  </a>
                </div>

                <div class="col-lg-4 col-md-3">
                  <a href="javascript:void(0)" [routerLink]="['/contato']" routerLinkActive="active">
                    <img src="./assets/icons/telefone-amarelo.png" alt="">
                    <p>Contato</p>
                  </a>
                </div>
                <!-- <div class="col-lg-3 col-md-3">
                  <a href="javascript:void(0)" [routerLink]="['/localizador']" routerLinkActive="active">
                    <img src="./assets/icons/localizacao.png" alt="">
                    <p>Localizador</p>
                  </a>
                </div> -->
              </div>
            </div>
          </li>
          <a href="javascript:void(0)" [routerLink]="['/ouvidoria-voce']" routerLinkActive="active">
            <li>Sinistros</li>
          </a>
          <!-- <li class="dropdown">
            Ouvidoria
            <div class="dropdown-content vi text-center">
              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <a href="javascript:void(0)" [routerLink]="['/ouvidoria-voce']" routerLinkActive="active">
                    <img src="./assets/icons/users.png" alt="">
                    <p>Para você</p>
                  </a>
                </div>
                <div class="col-lg-6 col-md-6">
                  <a href="javascript:void(0)" [routerLink]="['/ouvidoria-empresa']" routerLinkActive="active">
                    <div class="img-menu">
                      <img src="./assets/icons/empresa.png" alt="">
                    </div>
                    <p>Para sua empresa</p>
                  </a>
                </div>
              </div>
            </div>
          </li> -->

          <li class="dropdown">
            Sobre a 88i
            <div class="dropdown-content vv text-center">
              <div class="row">
                <div class="col-lg-4 col-md-3">
                  <a href="javascript:void(0)" [routerLink]="['/sobre']" routerLinkActive="active">
                    <div class="img-menu v1">
                      <img src="./assets/logo/logo.png" alt="">
                    </div>
                    <p>Sobre</p>
                  </a>
                </div>
                <div class="col-lg-4 col-md-3">
                  <a href="javascript:void(0)" [routerLink]="['/sobre/nosso-time']" routerLinkActive="active">
                    <div class="img-menu v2">
                      <img src="./assets/icons/time.png" alt="">
                    </div>
                    <p>Nosso Time</p>
                  </a>
                </div>

                <!-- <div class="col-lg-3 col-md-3">
                  <a href="javascript:void(0)" [routerLink]="['/sobre/trabalhe-conosco']" routerLinkActive="active">
                    <img src="./assets/icons/trabalhe-conosco.png" alt="">
                    <p>Trabalhe Conosco</p>
                  </a>
                </div> -->
                <div class="col-lg-4 col-md-3">
                  <a href="javascript:void(0)" [routerLink]="['/sobre/midias']" routerLinkActive="active">
                    <img src="./assets/icons/midias.png" alt="">
                    <p>Mídias</p>
                  </a>
                </div>
              </div>
            </div>
          </li>

          <a href="javascript:void(0)" [routerLink]="['/blog']" routerLinkActive="active">
            <li>Blog</li>
          </a>

          <a href="javascript:void(0)" [routerLink]="['/promocoes']" routerLinkActive="active">
            <li>Promoções</li>
          </a>
        </ul>
      </nav>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">
          Agende o melhor momento para entrarmos em contato
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="#">
          <div class="form-group">
              <label for="exampleFormControlInput1">Nome</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Insira seu Nome">
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput1">Telefone</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="(11) 0000-0000">
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput1">Quando podemos te ligar?</label>
              <input type="date" class="form-control data" id="exampleFormControlInput1">
          </div>
          <div class="form-group">
              <select class="form-control" id="exampleFormControlSelect1">
                <option value="" disabled>Escolha o horário</option>
                <option value="exemplo-manha">9am to 10am</option>
                <option value="exemplo-tarde">14am to 15am</option>
              </select>            
          </div>
          <button type="button" class="btn btn-cotacao w-100">Ligue</button>
        </form>
      </div>

    </div>
  </div>
</div>

 <!-- MODAL -->
 
  <div class="modal v1 fade" id="exampleModal0" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content v1 text-center">
              <button type="button" class="close text-right" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              <h2> Produtos </h2>
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-lg-12 col-11">
                        <div class="row">
                            <div class="col-lg-2 col-4  mt-3 mx-auto card-elipse" href="javascript:void(0)"
                                [routerLink]="['/produtos-voce']" routerLinkActive="active">
                                <div class="elipse">
                                    <div class="icon-elipse v2">
                                        <img src="./assets/icons/smartphone.svg" alt="smartphone">
                                    </div>
                                </div>
                                <p>Celular</p>
                            </div>
                            <div class="col-lg-2 col-4  mt-3 mx-auto card-elipse " href="javascript:void(0)"
                                [routerLink]="['/produtos-empresa/empresa-um']" routerLinkActive="active">
                                <div class="elipse">
                                    <div class="icon-elipse">
                                        <img src="./assets/icons/icone-acidentes-pessoais.svg" alt="acidentes-pessoais">
                                    </div>
                                </div>
                                <p>Acidentes Pessoais</p>
                            </div>
                            <div class="col-lg-2 col-4  mt-3 mx-auto  card-elipse " href="javascript:void(0)"
                                [routerLink]="['/bagagem']" routerLinkActive="active">
                                <div class="elipse">
                                    <div class="icon-elipse v2">
                                        <img src="./assets/icons/icone-bagagem.svg" alt="bagagem">
                                    </div>
                                </div>
                                <p>Bagagem</p>
                            </div>
                            <div class="col-lg-2 col-4  mt-3 mx-auto card-elipse  " href="javascript:void(0)"
                                [routerLink]="['/assistencia-automovel']" routerLinkActive="active">
                                <div class="elipse">
                                    <div class="icon-elipse v1">
                                        <img src="./assets/icons/icone-assistencia-automovel.svg" alt="assistencia-automovel">
                                    </div>
                                </div>
                                <p>Assistência Automóvel</p>
                            </div>
                            <div class="col-lg-2 col-4 mt-3  mx-auto card-elipse  " href="javascript:void(0)"
                                [routerLink]="['/automovel-franquia']" routerLinkActive="active">
                                <div class="elipse">
                                    <div class="icon-elipse">
                                        <img src="./assets/icons/icone-automovel-franquia.svg" alt="assistencia-automovel">
                                    </div>
                                </div>
                                <p>Automóvel Franquia</p>
                            </div>
                            <div class="col-lg-2 col-4 mt-3 mx-auto card-elipse " href="javascript:void(0)"
                                [routerLink]="['/impedimento-ao-trabalho']" routerLinkActive="active">
                                <div class="elipse">
                                    <div class="icon-elipse">
                                        <img src="./assets/icons/icone-impedimento-ao-trabalho.svg" alt="impedimento-trabalho">
                                    </div>
                                </div>
                                <p>Impedimento ao trabalho</p>
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

