@import 'variables';
@import 'components';
@import 'helpers';

.menu {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    nav {
      font-family: Avenir-Heavy;
      a{
      font-family: Avenir-Heavy;
      }
        li {
            list-style: none;
            padding:0 10px;
            font-family: Avenir-Black;            
            &:hover{
              color: $theme-color-4 ;
            }
            @media only screen and (min-width: 1600px) {
              font-size: 22px;
            }
        }
    }

    .menu-info {
        padding: 0.5% 0 0 2%;
        height: 10vh;
        background-color: $theme-color-1;

        .logo {
          @include media-breakpoint-down(md) {
            position: relative;
            top: 16%;
          }

          img {
            @include media-breakpoint-down(md) {
              width: 25%;
            }
            @include media-breakpoint-up(lg) {
              width: 40%;
            }

        }
      }
      .m-info {
        @include media-breakpoint-down(md) {
          display: none;
        }
        @include media-breakpoint-up(lg) {
          padding: 0.5% 0 0 15%;
          a {
              color: $theme-color-2;
              li{
                &:hover{
                  color: $theme-color-5 !important;
                  }
              }
          }
          .estamos{
            color: $theme-color-2;
          }
          img {
              width: 12%;
          }
        }
      }
    }

    .menu-busca {
        padding: 15px 0 15px 230px;
        height: 8vh;
        background-color: $theme-color-2;

        .m-busca {
            padding: 0 0 0 190px;
            @media only screen and (min-width: 1680px) {
              padding: 0 0 0 240px;
            }
            li {
              padding: 0 60px 0 10px;
              @media only screen and (min-width: 1600px) {
                padding: 0 30px 0 60px;
                font-size: 25px;
              }
            }
            a {
                color: $theme-color-1;
            }
            input {
              @include media-breakpoint-down(md) {
                border: 1px solid pink;
                outline: 0;
              }
              @include media-breakpoint-up(md) {}
              @include media-breakpoint-up(lg) {
                border: none;
                outline: 0;
              }
            }
        }
    }
}

/* Menu dropdown*/

.dropdown {
    position: relative;
    display: inline-block;
    @include media-breakpoint-down(md) {
      top: -30px;
      color: $theme-color-3;
      &:hover {
        color: $theme-color-4;
      }
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}
  }

  .dropdown-content {
    font-size: 0.8em;
    display: none;
    position: absolute;
    background-color: $theme-color-2;
    padding: 30px 0 25px 35px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
    @include media-breakpoint-up(lg) {
      top: 25px;
    }

    &.vv {
      @include media-breakpoint-down(md) {
        width: 300px;
        left: 32%;
        top: -5px;
      }
      @include media-breakpoint-up(md) {}
      @include media-breakpoint-up(lg) {
      width: 380px;
      left: -130px;
      padding: 40px 30px 20px 30px;
      }
      @media only screen and (min-width: 1680px) {
        width: 500px;
        top: 45px;
        padding: 40px 30px 40px 40px;
      } 
      p {
        @media only screen and (min-width: 1680px) {
          font-size: 22px;
        }
      }
    }
    &.vo {
      @include media-breakpoint-down(md) {
        width: 300px;
        left: 47%;
        top: -70px;
      }
      @include media-breakpoint-up(md) {}
      @include media-breakpoint-up(lg) {
        left: -200px;
        width: 500px;
        padding: 50px 30px 30px 30px;
      }

      p {
        @include media-breakpoint-down(md) {
          padding: 0;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
          padding: 10px 0 0 0;
        }

      }

        &.v1 {
            @include media-breakpoint-down(md) {
              left: 30%;
              top: -187px;
              padding: 10px 0 0 0;
            }
            @include media-breakpoint-up(md) {}
            @include media-breakpoint-up(lg) {
              left: -150%;
              padding: 30% 0 0 0;
            }
        }
    }
    &.vi {
      @include media-breakpoint-down(md) {
        left: 31%;
        top: -128px;
        width: 300px;
        padding: 35% 0 10% 0;
      }
      @include media-breakpoint-up(md) {}
      @include media-breakpoint-up(lg) {
        left: -100%;
        width: 300px;
        padding: 35% 0 10% 44%;
      }
        img {
          @include media-breakpoint-down(md) {
            width: 20%;
          }
          @include media-breakpoint-up(md) {}
          @include media-breakpoint-up(lg) {
            width: 45%;
          }

        }
    }
    img {
      @include media-breakpoint-down(md) {
        width: 15%;
      }
      @include media-breakpoint-up(md) {}
      @include media-breakpoint-up(lg) {
        width: 45%;
      }
    }
    .img-menu {
        width: 65%;
        position: relative;
        left: 15%;
        &.v1 {
            width: 130%;
            left: -15%;
            padding: 15% 0 0 0;
        }
        &.v2 {
          width: 120%;
          @include media-breakpoint-down(md) {
            left: -10%;
          }
          @include media-breakpoint-up(md) {}
          @include media-breakpoint-up(lg) {
            left: -15%;
            padding: 10% 0 0 0;
          }

        }
    }
}

.dropdown-content a {
    text-decoration: none;
}

.dropdown:hover .dropdown-content {display: block;}

.prod {
    padding: 1% 0;
    p{
      margin-top: 6px;
      margin-left: 4px;
    }
}

.dropdown-content::before {
  @include media-breakpoint-down(md) {}
  @include media-breakpoint-up(md) {}
  @include media-breakpoint-up(lg) {
    content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 7px;
        background-color: $theme-color-5;
  }

}
.produtos-voce::before {
  @include media-breakpoint-down(md) {}
  @include media-breakpoint-up(md) {}
  @include media-breakpoint-up(lg) {
    content: '';
        position: absolute;
        top: 65px;
        left: 8%;
        width: 80%;
        height: 1px;
        opacity: 50%;
        background-color: $theme-color-3;
  }
}

.produtos-empresa{
  p{
    margin-top: 6px;
    margin-left: 4px;
  }
  &::before {
    @include media-breakpoint-down(md) {}
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
      content: '';
          position: absolute;
          top: 78%;
          left: 8%;
          width: 80%;
          height: 1px;
          opacity: 50%;
          background-color: $theme-color-3;
    }
  }
  .empresa {
    padding: 20px 0;
  }
}

.mobile {
  @include media-breakpoint-down(md) {
    display: block;
  }
  @include media-breakpoint-up(md) {}
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.desktop {
  @include media-breakpoint-down(md) {
    display: none;
  }
  @include media-breakpoint-up(md) {}
  @include media-breakpoint-up(lg) {
    display: block;
  }
}

 /* MENU MOBILE */
  .menu-mob {
    @include media-breakpoint-down(md) {
      position: relative;
      left: 25%;
      top: -30px;
      width: 70%;
  }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}

  }
  #menuToggle
  {
    @include media-breakpoint-down(md) {
      display: block;
      position: relative;
      top: 0;
      left: 90%;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;
      width: 10%;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}

  }
  #menuToggle a
  {
    @include media-breakpoint-down(md) {
      text-decoration: none;
      color: $theme-color-3;
      transition: color 0.3s ease;
      &:hover {
        color: $theme-color-4;
      }
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}
  }
  #menuToggle input
  {
    @include media-breakpoint-down(md) {
      display: block;
      width: 150%;
      height: 150%;
      position: absolute;
      cursor: pointer;
      opacity: 0;
      z-index: 2;
      -webkit-touch-callout: none;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}

  }
  #menuToggle span
  {
    @include media-breakpoint-down(md) {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: $theme-color-4;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}

  }
  #menuToggle span:first-child
  {
    @include media-breakpoint-down(md) {
      transform-origin: 0% 0%;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}

  }
  #menuToggle span:nth-last-child(2)
  {
    @include media-breakpoint-down(md) {
      transform-origin: 0% 100%;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}

  }
  #menuToggle input:checked ~ span
  {
    @include media-breakpoint-down(md) {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background:  $theme-color-4;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}

  }
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    @include media-breakpoint-down(md) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}

  }
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    @include media-breakpoint-down(md) {
      transform: rotate(-45deg) translate(0, -1px);
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}
  }
  #menu
  {
    @include media-breakpoint-down(md) {
      text-align: left;
      position: absolute;
      position: absolute;
      top: -63px;
      right: -130%;
      width: 380px;
      padding: 70px 20px 10px 40px;
      background: $theme-color-2;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      transform-origin: 0% 0%;
      transform: translate(0, -100%);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}

  }
  #menu li
  {
    @include media-breakpoint-down(md) {
      padding: 5% 0;
      font-size: 1.2em;
      font-weight: bold;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}

  }

  #menuToggle input:checked ~ ul
  {
    @include media-breakpoint-down(md) {
      transform: none;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}

  }

  .seta-menu{
    font-size: 1.5em;
    position: absolute;
    top: 5px;
    left: 300px;
      &.v1{
        top: 22px;
        left: 35px;
      }
      &.v2{
        top: 10px;
        left: 35px;
      }
      &.v3{
        top: 28px;
        left: 35px;
      }
      &.v4{
        top: 2px;
        left: 35px;
      }
  }

  .titulo-dropdown {
    @include media-breakpoint-down(md) {
      color: $theme-color-3;
      text-align: center;
      padding-bottom: 30px;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}

    &.v1 {
      @include media-breakpoint-down(md) {
        padding-bottom: 5px;
      }
      @include media-breakpoint-up(md) {}
      @include media-breakpoint-up(lg) {}
    }
  }

  .txt-destaque {
    &.v4 {
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .txt-ajuda {
    color: $theme-color-1;
    font-weight: normal;
    padding: 3% 0;
  }

.prod-mobile{
  width: 20%;
  &.v1 {
    width: 70%;
  }
}

.logo-menu {
  background-color:$theme-color-1;
  position: relative;
  top: -40px;
  left: -13%;
  width: 120%;
  padding: 10px 0 5px 30px;
 
}
.btn-cotacao {
  left: 50px;
}
.menu-mob-link {
  position: relative;
  top: -30px;
}

.modal {
  background-color: transparent;
}


 .modal-title{
  font-family:Avenir-Black !important ;

  }

.modal-content {
  background-color: $theme-color-2;
  border: none;
  position: relative;
  font-family:Avenir-Medium !important ;

  top: 120px;
  color: $theme-color-1;
  .close {
      position: relative;
      left: -5px;
  }
  .btn-cotacao {
    left: 0;
  }
  &.v1{
    @include media-breakpoint-up(lg) {
      width: 800px;
      left: -100px;
    }
    p, h2 {
      @include media-breakpoint-up(lg) {
        padding: 0;
      }
    }
  }
}


select {
  width: 100%;
}
.elipse {
  &.v2 {
    img {
      position: relative;
      left: 8px;
      top: 3px;
      @include media-breakpoint-down(md) {
        width: 40%;
      }
    }
  }
}
