<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12  header bg v2" style="background-image: url('./assets/background/bg-vida.png');">
            <div class="col-lg-9 col-md-9 mx-auto">
                <div class="topo">
                    <h1 class="v2">Seguro de Acidentes Pessoais</h1>
                    <h4 class="txt-descricao">Proteja-se contra imprevistos</h4>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-11 prod-btn">
                        <a class="btn btn-cotacao v4 w-100" href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal-bagagem"> Estou Interessado </a>
                    </div>                
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 ">
            <div class="row">
                <div class="col-lg-4 col-md-4 mx-auto text-center topo v2">
                    <div class="row">
                        <div class="col-lg-6 col-md-6  card-destaque v2"
                        [routerLink]="['empresa-um']"
                            routerLinkActive="active">
                            <p class="txt-destque v2">Simples</p>
                        </div>
                        <div class="col-lg-6 col-md-6 card-destaque v2"
                        [routerLink]="['empresa-dois']"
                             routerLinkActive="active">
                            Completo
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container-flud">
    <div class="row mx-0">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col-lg-11 col md-11 mx-auto conteudo">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 produtos-respostas bg v1 video">
            <div class="col-lg-9 col-md-9 mx-auto text-center">
                <div class="topo v1">
                    <h2>Informe qual é o valor que você deseja contribuir mensalmente</h2>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="row">
                                <div class="col-lg-11 col-md-11 text-center topo v2">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-6  card-destaque v2" [routerLink]="['empresa-tres']" routerLinkActive="active">
                                            <p class="txt-destque v2">R$10,00</p>
                                        </div>
                                        <div class="col-lg-2 col-md-6 card-destaque v2"[routerLink]="['empresa-tres']"routerLinkActive="active">
                                            R$20,00
                                        </div>
                                        <div class="col-lg-2 col-md-6 card-destaque v2"[routerLink]="['empresa-tres']"routerLinkActive="active">
                                            R$30,00
                                        </div>
                                        <div class="col-lg-2 col-md-6 card-destaque v2"[routerLink]="['empresa-tres']"routerLinkActive="active">
                                            R$40,00
                                        </div>
                                        <div class="col-lg-2 col-md-6 card-destaque v2"[routerLink]="['empresa-tres']"routerLinkActive="active">
                                            R$50,00
                                        </div>
                                        <div class="col-lg-2 col-md-6 card-destaque v2"[routerLink]="['empresa-tres']"routerLinkActive="active">
                                            R$60,00
                                        </div>
                                        <router-outlet name="mensal"></router-outlet>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
            <div class="row">
                <div class="col-lg-9 col-md-9 mx-auto">
                    <h2>Cobrimos exatamente o que você precisa.
                        Nem mais nem menos</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-11 col-md-11 mx-auto">
                    <div class="row card-planos">
                        <div class="col-6 tipo-planos">
                            Item
                        </div>
                        <div class="col-6 tipo-planos">
                           Descrição
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 planos">
                            <p class="txt-destaque paragrafo vv vo">Seguro é mensal</p>
                        </div>
                        <div class="col-6 planos">
                            <p class="txt-destaque paragrafo vv">
                             Todo o mês que você paga, todo mês você estará coberto.
                             Você solicitar o cancelamento do seguro a qualquer momento.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 planos">
                            <p class="txt-destaque paragrafo vv vo">Formas de Pagamento</p>
                        </div>
                        <div class="col-6 planos">
                            <p class="txt-destaque paragrafo vv">
                                A cobrança de sua assinatura de seguro é realizada mensalmente no seu cartão de crédito.
                                Se não conseguimos efetuar a cobrança no seu cartão, você tem até 10 dias para acertar o
                                pagamento e continuar com seu seguro. Se o pagamentos não for efetuado nesse prazo, não tem multa,
                                mas o seguro será cancelado e te avisaremos.
                            </p>
                        </div>
                    </div>
                    <div class="row btn-mobile">
                        <a class="btn btn-cotacao v4 mt-5" href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal-bagagem"> Estou Interessado </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal-bagagem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-bagagem" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
          <div class="col-lg-4 col-md-2  mx-auto  card-elipse desktop">
              <div class="elipse">
                  <div class="icon-elipse v2">
                      <img src="./assets/icons/icone-acidentes-pessoais.svg" alt="assistencia-automovel">
                  </div>
              </div>
              <p class="txt-elipse">Acidentes Pessoais</p>
          </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <div class="modal-body">
        <form action="#">
          <div class="form-group">
              <input type="text" class="form-control" id="exampleFormControlInput" placeholder="Nome">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="exampleFormControlInput" placeholder="DDD + Telefone">
          </div>
          <div class="form-group">
              <input type="email" class="form-control" id="exampleFormControlInput" placeholder="Email">
          </div>
          <button type="button" class="btn btn-cotacao w-100">Solicitar Cotação</button>
        </form>
      </div>
    </div>
  </div>
</div>
