
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 bg">
            <div class="row">
                <div class="col-lg-3 col-md-3 paragrafo mx-auto text-center">
                    <img class="envelope" src="./assets/icons/envelope-amarelo.png" alt="email">
                    <div class="txt-destaque v1 mt-3">Envie um email</div>
                    <div class="txt-destaque">contato@88i.com.br</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 bg midias">
            <div class="row">
                <div class="col-lg-10 col-md-10 card-info v1 mx-auto" *ngFor="let midias of midia;">
                    <div class="paragrafo" >
                        <p class="txt-destaque"> {{ midias.date }} </p>
                        <p class="txt-destaque v4"> {{ midias.title }}</p>
                        <p class="txt-destaque"> {{ midias.description }} </p>
                        <a a [href]="midias.link" target="blanc"  class="txt-destaque v1"> Leia Mais </a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>