@import 'variables';
@import 'components';
@import 'helpers';

.txt-destaque {
    &.v4 {
       font-size: 1.7em; 
    }
}

.card-info {
    border-radius: 8px;
    @include media-breakpoint-down(md) {
        padding: 0 5%;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        padding: 0 25% 0 3%;
    } 
}

.teste {
    @include media-breakpoint-down(md) {
        padding: 0;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        // padding-left: 40%;
    } 
}
