<div class="row">
    <div class="col-lg-9 col-md-9 mx-auto text-center">
        <h2 class="titulo-produto">Roubo, Furto, Líquido e Queda</h2>
        <div class="paragrafo">
            <div class="txt-destaque v3">
                <p>A Proteção mais completa.</p>
                <p class="txt-destaque-prod">
                   Além de roubo e furto qualificado, oferece também cobertura
                    contra quebra de vidros e danos causados por líquidos. 
                </p>                
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-11 col-md-11 mx-auto linha">
        <div class="row">
            <div class="col-lg-1 col-4">
                <img src="./assets/icons/arma.svg" alt="">
            </div>
            <div class="col-lg-3 col-4">
                <p class="txt-destaque v4 txt-info">
                    Roubo
                </p>
            </div>
            <div class="col-lg-7 col-12">
                <p class="txt-destaque txt-info t1">
                    Cobertura de roubo. Caracterizado quando a pessoa sofre ameaça física, verbal ou mediante
                    uso de força bruta, como por exemplo: assalto com faca, canivete ou arma de fogo.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-11 col-md-11 mx-auto linha">
        <div class="row">
            <div class="col-lg-1 col-4">
                <img src="./assets/icons/furto.svg" alt="">
            </div>
            <div class="col-lg-3 col-4">
                <p class="txt-destaque v4 txt-info">
                    Furto Qualificado
                </p>
            </div>
            <div class="col-lg-7 col-12">
                <p class="txt-destaque txt-info t1">
                    Ocorre quando a pessoa não sofre nenhum tipo de ameaça e se depara que foi roubado
                    quando se depara com vestígios do crime (arrombamento de armários e gavetas, rasgo na bolsa).
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-11 col-md-11 mx-auto linha">
        <div class="row">
            <div class="col-lg-1 col-4">
                <img src="./assets/icons/quebra.svg" alt="">
            </div>
            <div class="col-lg-3 col-4">
                <p class="txt-destaque v4 txt-info">
                    Quebra
                </p>
            </div>
            <div class="col-lg-7 col-12">
                <p class="txt-destaque txt-info t1">
                    Cobre quebra causada por queda ou colisão.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-11 col-md-11 mx-auto linha">
        <div class="row">
            <div class="col-lg-1 col-4">
                <img src="./assets/icons/liquidos.svg" alt="">
            </div>
            <div class="col-lg-3 col-4">
                <p class="txt-destaque v4 txt-info">
                    Líquido
                </p>
            </div>
            <div class="col-lg-7 col-12">
                <p class="txt-destaque txt-info t1">
                    Cobre danos causados por imersão ou derramamento de líquidos.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-11 col-md-11 mx-auto linha">
        <div class="row">
            <div class="col-lg-1 col-4">
                <img src="./assets/icons/oxidacao.svg" alt="">
            </div>
            <div class="col-lg-3 col-4">
                <p class="txt-destaque v4 txt-info">
                    Oxidação
                </p>
            </div>
            <div class="col-lg-7 col-12">
                <p class="txt-destaque txt-info t1">
                    Danos causados por oxidação.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-11 col-md-11 mx-auto linha">
        <div class="row">
            <div class="col-lg-1 col-4">
                <img src="./assets/icons/celular.svg" alt="">
            </div>
            <div class="col-lg-3 col-4">
                <p class="txt-destaque v4 txt-info">
                    Celular Reserva
                </p>
            </div>
            <div class="col-lg-7 col-12">
                <p class="txt-destaque txt-info t1">
                    (Em São Paulo, Capital – Celular Reserva com parceiros Mobilidade)
                </p>
            </div>
        </div>
    </div>
</div>
