@import 'variables';
@import 'components';
@import 'helpers';

.card-destaque {
    @include media-breakpoint-down(md) {
        width: 33%;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}
    img {
        width: 15%;
    }
    p {
        padding: 5% 0 3% 0;
    }
    &.v2{
        .ajuste {
            @include media-breakpoint-down(md) {
                padding: 22px 0 0 0;
            }
        }
    }
    
}

.assistencia{
    padding: 0 10%;
}
.card-destaque {
  cursor: pointer;

  p, img{
    position: relative;
    top: 15px;
  }
}


.ligue {
    text-align: center;
    @include media-breakpoint-down(md) {
        padding: 0;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        padding: 0  0 0 50px;
    }
}

.email {
    padding: 50px 0;
    font-weight: bold;
    a {
        color: $theme-color-4;
    }
}

.visita {
    padding: 50px 0;
    p, a {
        font-weight: bold;
    }
    li {
        display: block;
    }
}

.maps {
    position: relative;
    bottom: 50px;
    @include media-breakpoint-down(md) {
        left: 0;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        left: -26%;
    }
    @media only screen and (min-width: 1250px) and (max-width: 1344px) {
        left: 0;
    }
    @media only screen and (min-width: 1580px) {
        left: -150px;
    }
    @media only screen and (min-width: 2560px) {
        left: -10px;
    }
    iframe {
        @include media-breakpoint-down(md) {
            width: 90%;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {}
        @media only screen and (min-width: 1250px) and (max-width: 1344px) {
            width: 100%;
        } 
    }
}

h2 {
    padding: 0;
}
