<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 help-topo bg">
            <div class="col-lg-9 col-md-9 mx-auto">
                <div class="topo">
                    <h1 class="titulo-ajuda">Contato</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 ">
            <div class="row">
                <div class="col-lg-9 col-md-9 mx-auto text-center">
                    <h2>Nós estamos aqui para ajudar</h2>
                    <div class="paragrafo">
                        <p class="txt-destaque v5"> Se você tiver alguma pergunta ou dúvida, entre em contato conosco escolhendo uma das opções abaixo que melhor lhe convier.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 mx-auto text-center">
                    <div class="row">
                        <div class="col-lg-4 div col-md-3 card-destaque v2"
                        [routerLink]="['ligue']"
                             routerLinkActive="active">
                            <img src="./assets/icons/telefone-preto.png" alt="telefone">
                            <p class="ajuste">Ligue para nós</p>
                        </div>
                        <div class="col-lg-4 div col-md-3 card-destaque v2"
                        [routerLink]="['email']"
                             routerLinkActive="active">
                            <img src="./assets/icons/envelope-preto.png" alt="email">
                            <p class="mt-3">Envie um email</p>
                        </div>
                        <div class="col-lg-4 div col-md-3 card-destaque v2"
                        [routerLink]="['agende']"
                             routerLinkActive="active">
                            <img src="./assets/icons/localizacao-preto.png" alt="localizacao">
                            <p class="ajuste">Faça uma visita</p>
                        </div>
                    </div>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
