<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 sobre-topo cabecalho bg v3">
            <div class="col-lg-9 col-md-9 mx-auto">
                <div class="topo">
                    <h1>A 88i vai mudar a forma de se fazer seguros no Brasil e no Mundo</h1>
                    <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-12 col-md-12 ">
            <div class="row">
                <div class="col-lg-10 col-md-10 mx-auto text-center ">
                    <div class="row">
                        <div class="col-lg-3 col-md-3  card-destaque v2"
                        [routerLink]="['sobre-nos']"
                             routerLinkActive="active">
                            <p class="txt-destque v2">Sobre </p>
                        </div>
                        <div class="col-lg-3 col-md-3 card-destaque v2"
                        [routerLink]="['nosso-time']"
                             routerLinkActive="active">
                             <p class="txt-destque v2">Nosso Time </p>

                        </div>
                        <div class="col-lg-3 col-md-3  card-destaque v2"
                        [routerLink]="['trabalhe-conosco']"
                             routerLinkActive="active">
                             <p class="txt-destque v2">Trabalhe Conosco </p>

                        </div>
                        <div class="col-lg-3 col-md-3 card-destaque v2"
                        [routerLink]="['midias']"
                             routerLinkActive="active">
                             <p class="txt-destque v2">Mídia </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
