@import 'variables';
@import 'components';
@import 'helpers';

.topo {
    @include media-breakpoint-up(lg) {
        padding: 0;
    }
        &.v3{
            @include media-breakpoint-down(md) {}
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            padding: 90px 0;
        }
    }
}
.sobre-topo {
    padding: 10% 5%;
    @include media-breakpoint-down(md) {
        background-image: url(../../../assets/background/sobre-mobile.png);
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        background-image: url(../../../assets/background/sobre.png);
    }
}


.card-destaque {
    padding: 1% 0 0 0;
    cursor: pointer;
  p{
    margin-top: 8px;
  }
}

.elipse-line-one {
    &.vv {
        padding-left: 35%;
    }
}

.mapa {
    img {
        width: 50%;
    }
}

.elipse {

    &.v1 {
        background-color: $theme-color-5;
    }
}
.cabecalho {
    padding: 200px 0;
    text-align: center;
    @include media-breakpoint-down(md) {
        padding: 0;
    }
}

