<div class="row">
    <div class="col-lg-9 col-md-9 mx-auto text-center">
        <h2 class="titulo-produto">Independente do que acontecer, você sempre estará coberto</h2>
        <div class="paragrafo">
            <p class="txt-destaque"> 
                <a>Não há necessidade de abas, o produto é simples. Substituir tudo pelo texto acima</a>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-11 col-md-11 mx-auto linha">
        <div class="row">
            <div class="col-lg-1 col-md-1 colunas-mobile">
                <img src="./assets/icons/morte-acidental.svg" alt="">
            </div>
            <div class="col-lg-3 col-md-3 colunas-mobile">
                <p class="txt-destaque v4 txt-info">
                    Morte Acidental
                </p>
            </div>
            <div class="col-lg-7 col-md-7 colunas-mobile">
                <p class="txt-destaque txt-info t1">
                    A cobertura que vai te dar segurança para eventos atípicos, inesperados, imprevisíveis. Por exemplo,
                     um acidente automobilístico. Disponibiliza diretamente para os seus beneficiários uma indenização para
                      manutenção de despesas diversas, como quitação de um imóvel, pagamentos de estudos e gastos gerais com 
                      dependentes.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-11 col-md-11 mx-auto linha">
        <div class="row">
            <div class="col-lg-1 col-md-1 colunas-mobile">
                <img src="./assets/icons/invalidez-acidente.svg" alt="">
            </div>
            <div class="col-lg-3 col-md-3 colunas-mobile">
                <p class="txt-destaque v4 txt-info">
                    Invalidez  Permanente  Total  por  Acidente
                </p>
            </div>
            <div class="col-lg-7 col-md-7 colunas-mobile">
                <p class="txt-destaque txt-info t1">
                    Pagamento  de  indenização  ao  Segurado, relativa  à  perda  ou  à  impotência  funcional 
                     definitiva,  total, de  um  membro  ou  órgão em  virtude  de  lesão  física, causada por acidente.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-11 col-md-11 mx-auto linha">
        <div class="row">
            <div class="col-lg-1 col-md-1 colunas-mobile">
                <img src="./assets/icons/assistencia-funeral.svg" alt="">
            </div>
            <div class="col-lg-3 col-md-3 colunas-mobile">
                <p class="txt-destaque v4 txt-info">
                    Assistência Funeral por Morte Acidental
                </p>
            </div>
            <div class="col-lg-7 col-md-7 colunas-mobile">
                <p class="txt-destaque txt-info t1">
                    Reembolso das despesas efetivamente gastas com o funeral do Segurado, até o valor do 
                    capital contratado, em caso de morte decorrente de acidente
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-11 col-md-11 mx-auto linha">
        <div class="row">
            <div class="col-lg-1 col-md-1 colunas-mobile">
                <img src="./assets/icons/despesas-medicas.svg" alt="">
            </div>
            <div class="col-lg-3 col-md-3 colunas-mobile">
                <p class="txt-destaque v4 txt-info">
                    Despesas Médicas, Hospitalares e Odontológicas
                </p>
            </div>
            <div class="col-lg-7 col-md-7 colunas-mobile">
                <p class="txt-destaque txt-info t1">
                    Reembolso das despesas emergenciais médicas ou hospitalares efetuadas pelo Segurado,
                     sob orientação médica, para seu imediato tratamento, decorrentes de acidente pessoal ocorrido,
                      respeitado os limites de reembolsos estabelecidos do plano.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-11 col-md-11 mx-auto linha v1">
        <div class="row">
            <div class="col-lg-1 col-md-1 colunas-mobile">
                <img src="./assets/icons/sorteios.svg" alt="">
            </div>
            <div class="col-lg-3 col-md-3 colunas-mobile">
                <p class="txt-destaque v4 txt-info">
                    Sorteios
                </p>
            </div>
            <div class="col-lg-7 col-md-7 colunas-mobile">
                <p class="txt-destaque txt-info t1">
                    Sorteios semanais no valor de R$ 1000,00* de acordo com seu número da sorte.
                * Valor bruto, sem dedução de impostos
                </p>
            </div>
        </div>
    </div>
</div>