@import 'variables';
@import 'components';
@import 'helpers';
@import 'material-ajusts';

.topo {
    @include media-breakpoint-down(md) {}
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        padding: 40px 0;
    }

}
.header {
    padding: 135px 50px 130px 50px;
    @media only screen and (min-width: 1600px) {
        padding: 160px 50px 180px 50px;
    }
}
.produtos-topo {
    @include media-breakpoint-down(md) {
        background-image: url(../../../assets/background/produtos-para-voce-mobile.png);
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        background-image: url(../../../assets/background/produtos-para-voce.png);
    }
}

h1 {
    &.v2 {
        @include media-breakpoint-down(md) {
            font-size: 1.5em;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {}
    }
}
.txt-info {
    padding: 20px 0 0 20px;
    a {
        font-size: 1.2em;
        font-weight: bold;
    }
    &.t1 {
        @include media-breakpoint-up(lg) {
            padding: 0 20px 0 0;
        }
    }
}

.linha {
    padding: 20px 20px 0 20px;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $theme-color-3;
    }
    &.v1 {
        padding: 20px  20px 100px 20px;
        // img {
        //     @include media-breakpoint-down(md) {
        //         width: 50%;
        //     }
        //     @include media-breakpoint-up(md) {}
        //     @include media-breakpoint-up(lg) {
        //         width: 90%;
        //     }
        // }
    }
    // img {
    //     width: 100%;
    // }
}

.card-planos {
    padding: 1.4% 0;
    font-size: 1.3em;
    background-color: $theme-color-5;
}

.tipo-planos {
    @include media-breakpoint-down(md) {
        width: 30%;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}
}
.planos {
    text-align: left;
    border-right: 1px solid $theme-color-6;
    border-bottom: 1px solid $theme-color-6;
    @include media-breakpoint-down(md) {
        width: 35%;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}
    &.v1 {
        border-right: none;
        @include media-breakpoint-down(md) {
            width: 30%;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {}
    }
}

h2 {
    @include media-breakpoint-down(md) {
        padding: 5%;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        padding: 50px 150px 10px 150px;
    }

}
.paragrafo {
    &.vv {
        padding: 20px 0 0 0;
    }
    &.vo {
        padding: 30px 0 0 0;
    }
    &.vi {
        padding: 60px 0 0 0;
    }
}

.card-destaque {
    &.v2 {
        @include media-breakpoint-down(md) {
            width: 40%;
            left: 10%;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {}
    }
}
.btn-cotacao {
    &.v4 {
    @include media-breakpoint-down(md) {
        top: 0;
        left: 0;
        padding: 10px 20px;
    }
    // @media only screen and (min-width: 350px)  and (max-width: 365px){
    //     left: 42px;
    // }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}
    }
}

.txt-destaque {
    @include media-breakpoint-down(md) {
        padding: 0 20px 0 5px;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}
    &.v2 {
        font-size: 0.7em;
        @media only screen and (min-width: 1680px) {
            font-size: 0.9em;
        } 
        p {
            text-transform: uppercase;
            font-weight: bold;
            padding: 20px 0 0 0;
        }
    }
    &.v3 {
        @include media-breakpoint-down(md) {
            padding: 0;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            padding: 0 150px;
            font-weight: bold;
            font-size: 1.2em;
        }
    }
    &.v4 {
        font-weight: bold;
    }
    a {
        font-size: 1.5em;
    }
}
.txt-destaque-prod {
    position: relative;
    top: -10px;
}
.img-duvidas{
        width: 30%;
}
.conteudo{
    @include media-breakpoint-down(md) {
        padding: 0 5% 0 10%;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}
}
.produtos-respostas {
    padding: 0 0 50px 0;
    @media only screen and (min-width: 1680px) {
        padding: 100px 0;
    }
    @include media-breakpoint-down(md) {
        background-image: url(../../../assets/background/produtos-voce-mobile.png);
    }
    @include media-breakpoint-up(md) {}
        background-image: url(../../../assets/background/produtos-voce.png);

}

.plus {
    @include media-breakpoint-down(md) {}
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        position: relative;
        top: -9px;
        left: -4%;
    }
}

.respostas {
    @include media-breakpoint-down(md) {}
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        position: relative;
        left: 17%;
    }
}

.mat-prod{
    padding: 0 15px 15px 15px;
    .txt-informacoes {
        padding: 0;
        @media only screen and (min-width: 1600px) {
            padding: 0;
        }
        @include media-breakpoint-down(md) {
            padding: 10px 0;
        }
        &.v1 {
            @include media-breakpoint-down(md) {
                padding: 10px 0;
            }
        }
    }
}

.modal {
    background-color: transparent;
  }

  .modal-content {
    background-color: $theme-color-2;
    border: none;
    text-align: center;
    position: relative;
    top: 120px;
    color: $theme-color-1;
    .modal-body{
        padding: 30px 50px;
    }
    .close {
        position: relative;
        left: 220px;
        top: -30px;
    }
    .elipse {
        position: absolute;
        top: -70px;
        left: 37px;
        @include media-breakpoint-down(md) {
            left: 125px;
        }
    }
    .txt-elipse {
        top: 30px;
        left: 5px;
        color: $theme-color-1;
    }
    .btn-cotacao {
      position: relative;
      left: 0;
      color: $theme-color-1;
      background-image: linear-gradient(to bottom, $theme-color-5, $theme-color-4);
    }
  }

.titulo-produto {
    @include media-breakpoint-up(lg) {
        padding: 0 150px 10px 150px;
    }
}

.btn-mobile {
    @include media-breakpoint-down(md) {
        padding: 0 60px;
    }
}

.prod-btn {
    @include media-breakpoint-up(lg) {
        margin: 0 0 0 200px;
    }
    @media only screen and (min-width: 1250px) and (max-width: 1344px) {
        margin: 0 0 0 180px;
    }
    @media only screen and (min-width: 1680px) {
        margin: 0 0 0 250px;
    } 
}