
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col-lg-11 col-md-11 mx-auto text-center">
                    <h2 class="txt-destaque v4 text-center">Sobre nós</h2>
                    <div class="card-descricao txt-destaque">
                        A 88i iniciou suas operações em 2018 em São Paulo, oferecendo seguros de equipamentos eletrônicos portáteis (cellular, tablets, smart watches).
                        Somos um ecossistema de proteção integrado a várias seguradoras, que utiliza tecnologia para simplificar a vida do cliente de Mobilidade (Plataforma, Motorista e Passageiro).
                        Transforma toda a experiência do cliente, desde (1) o momento da compra mais rápida e digital (2) à precificação mais inteligente e barata, até (3) o pagamento mais ágil e transparente do sinistro.
                    </div>
                </div>
            </div>
            <div class="row">
                <img class="img-linha" src="./assets/background/linha.png" alt="">
            </div>
            <div class="row">
                <div class="col-lg-11 col-md-11 mx-auto text-center">
                    <h2 class="txt-destaque v4 text-center">Objetivos e Estratégia</h2>
                    <div class="card-descricao txt-destaque">
                        A 88i pretende mudar a forma pela qual as pessoas cotratam e se relacionam com seguros.
                        Nossa Missão é democratizar seguros, tornar acessível as pessoas, reduzir o custo de vida e gerar economia e fidelização para a plataforma.
                    </div>
                </div>
            </div>
            <div class="row">
                <img class="img-linha" src="./assets/background/linha.png" alt="">
            </div>
            <div class="row">
                <div class="col-lg-11 col-md-11 mx-auto text-center">
                    <h2 class="txt-destaque v4 text-center">Nossos Principais Produtos</h2>
                    <div class="card-descricao txt-destaque">
                        Os nossos seguros são focados nas necessidades de proteção do ecossistema de mobilidade urbana das grandes cidades.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <img class="img-linha" src="./assets/background/linha.png" alt="">
            </div>
            <div class="row">
                <div class="col-lg-9 col-md-9 mx-auto produtos-voce">
                    <div class="row elipse-line-one vv">
                        <div class="col-lg-2 col-md-2 mx-auto chave-mob"
                        href="javascript:void(0)" [routerLink]="['/produtos-voce']" routerLinkActive="active">
                            <div class="elipse">
                                <div class="icon-elipse v2">
                                    <img src="./assets/icons/smartphone.svg" alt="smartphone">
                                </div>
                            </div>                        
                            <p class="txt-elipse v2">Celular</p>
                        </div>

                        <div class="col-lg-2 col-md-2  mx-auto chave-mob"
                        href="javascript:void(0)" [routerLink]="['/produtos-empresa/empresa-um']" routerLinkActive="active">
                            <div class="elipse">
                                <div class="icon-elipse">
                                    <img src="./assets/icons/icone-acidentes-pessoais.svg" alt="acidentes-pessoais">
                                </div>
                            </div>                        
                            <p class="txt-elipse v2">Acidentes Pessoais</p>
                        </div>

                        <div class="col-lg-2 col-md-2  mx-auto chave-mob"
                        href="javascript:void(0)" [routerLink]="['/bagagem']" routerLinkActive="active">
                            <div class="elipse">
                                <div class="icon-elipse v2">
                                    <img src="./assets/icons/icone-bagagem.svg" alt="bagagem">
                                </div>
                            </div>                        
                            <p class="txt-elipse v2">Bagagem</p>
                        </div>

                        <div class="col-lg-2 col-md-2  mx-auto chave-mob"
                        href="javascript:void(0)" [routerLink]="['/assistencia-automovel']" routerLinkActive="active">
                            <div class="elipse">
                                <div class="icon-elipse vv">
                                    <img src="./assets/icons/icone-assistencia-automovel.svg" alt="assistencia-automovel">
                                </div> 
                            </div>                        
                            <p class="txt-elipse v2">Assistência Automóvel</p>
                        </div>

                        <div class="col-lg-2 col-md-2  mx-auto chave-mob" 
                        href="javascript:void(0)" [routerLink]="['/impedimento-ao-trabalho']" routerLinkActive="active">
                            <div class="elipse">
                                <div class="icon-elipse">
                                    <img src="./assets/icons/icone-impedimento-ao-trabalho.svg" alt="impedimento-trabalho">
                                </div> 
                            </div>                        
                            <p class="txt-elipse v2">Impedimento ao trabalho</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <img class="img-linha" src="./assets/background/linha.png" alt="">
            </div>
            <div class="row">
                <div class="col-lg-9 col-md-9 mx-auto text-center">
                    <h2>Para sua empresa</h2>
                    <div class="row elipse-line-one">
                        <div class="col-lg-5 col-md-1 testando">
                            <div class="elipse v1 vv"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <img class="img-linha" src="./assets/background/linha.png" alt="">
            </div>
            <!-- <div class="row">
                <div class="col-lg-11 col-md-11 mx-auto text-center">
                    <h2 class="txt-destaque v4 text-center">Ambiente externo</h2>
                    <div class="card-descricao txt-destaque">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis auctor ante ac blandit.
                        Curabitur sed fermentum risus, eu tempor lacus. Aliquam a nibh commodo, consequat ante vitae, tempor
                        quam. In hac habitasse platea dictumst. Nulla facilisi. Donec in maximus ex, sed mollis sapien.
                        Suspendisse condimentum risus sed libero feugiat, nec consectetur erat ornare. Nunc tortor augue,
                        pharetra ut velit vel, finibus gravida ipsum. Nulla vel tempus sem. Phasellus efficitur nunc a faucibus
                        accumsan. Duis ullamcorper felis sit amet sollicitudin consectetur.
                    </div>
                </div>
            </div>
            <div class="row">
                <img class="img-linha" src="./assets/background/linha.png" alt="">
            </div> -->
            <div class="row">
                <div class="col-lg-11 col-md-11 mx-auto text-center">
                    <h2 class="txt-destaque v4 text-center">Presença Global</h2>
                    <div class="txt-destaque text-center">
                        <ul>
                            <li>Estamos em diversos países:</li>
                            <li>2018 e 2019: Brasil, Suiça e Estonia</li>
                            <!-- <li>2019: UK, USA, Rússia, India e Singapura.</li> -->
                            <li>2020: Carregando…</li>
                        </ul>
                    </div>
                    <div class="mapa">
                        <img src="./assets/photos/mapa.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <img class="img-linha" src="./assets/background/linha.png" alt="">
            </div>
            <div class="row">
                <div class="col-lg-11 col-md-11 mx-auto text-center">
                    <h2 class="txt-destaque v4 text-center">Fale Conosco</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 mx-auto text-center" style="background-color: cyan;">
                   <div class="row">
                    <div class="col-lg-6 div col-md-3 card-destaque v1">
                        <img src="./assets/icons/telefone-laranja.png" alt="telefone">
                        <p class="txt-destaque v1">Ligue para nós</p>
                        <p class="txt-destaque">(11) 97803-8881</p>
                    </div>
                    <div class="col-lg-6 div col-md-3 card-destaque v1">
                        <img class="envelope" src="./assets/icons/envelope-amarelo.png" alt="email">
                        <p class="txt-destaque v1">Envie um email</p>
                        <p class="txt-destaque">contato@88i.com.br</p>
                    </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>