@import 'variables';
@import 'components';
@import 'helpers';

.produtos-voce {
    position: relative;
    @include media-breakpoint-down(md) {
        left: 7%;
        width: 70%;
        padding: 5px 0 50px 0;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {          
        padding: 0 0 0 300px;
    }
  
    h2{
        padding: 4% 0 2% 10%;
    }
}

.testando {
    position: relative;
    @include media-breakpoint-down(md) {}
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {          
        left: 30%;
    }
}
.card-destaque {
    padding: 1% 0 0 0;
}

.elipse-line-one {
    &.vv {
        top: 20px;
        left: -25%;
    }
}

.mapa {
    img {
        width: 50%;
    }
}
h2 {
    padding: 30px 0 0 0;
}
.card-descricao {
    @include media-breakpoint-down(md) {
        padding: 0;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}

    li {
        display: block;
    }
}

.elipse {
    @include media-breakpoint-down(md) {}
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        // height: 165px;
        text-align: center;
        // padding: 27px 8px 0 8px;
    }
    p {
        font-size: 0.7em;
    }
    img {
        width: 50%;
    }
}
.chave-mob{
    @include media-breakpoint-down(md) {
        width: 35%;
        padding: 0 40px;
        text-align: center;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}
}
.txt-elipse {
    &.v2 {
        @include media-breakpoint-down(md) {
            position: relative;
            left: 5px;
            text-align: center;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            left: 10px;
        }
        
    }
}
.elipse {
    .icon-elipse{
        &.v2{
            width: 70%;
            top: 20px;
            left: 15px;

        }
        &.vv {
            @include media-breakpoint-up(lg) {
                top: 40px;
            }
            img {
                @include media-breakpoint-down(md) {
                    width: 70%;
                }
            }
        }
    }
}
ul li {
    display: block;
}