@import 'variables';
@import 'components';
@import 'helpers';

.txt-destaque {
    &.v1 {
        font-size: 1.7em;
    }
    &.v3 {
        @include media-breakpoint-down(md) {
            padding: 0;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            padding: 0 100px;
        }
    }
}
.btn-cotacao {
    padding: 2% 3%;
    border-radius: 5px;

    &.vo {
        color: $theme-color-3;
        background-color: $theme-color-7;
    }
    &.btn-ft {
        margin-right: 2%;
    }
    &.vi {
        left: -3%;
    }
}


.botoes-filtros {
    padding: 15px 0;
    &.vv {
        padding: 30px 0 10px 70px;
    }
}

.card-info {
    border-radius: 8px;

    @include media-breakpoint-down(md) {
        padding: 0 30px;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        padding: 0;
    }

}

.promo {
    // padding: 10% 5%;
    @include media-breakpoint-down(md) {
        background-image: url(../../../assets/background/promocoes-mobile.png);
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        background-image: url(../../../assets/background/promocoes.png);
        background-size: 100% 99%;
    }
}
.card-color {
    background-color: $theme-color-4;
    text-align: center;
    padding: 80px 0;
    border-radius: 8px 0 0 8px;
}
h2 {
    @include media-breakpoint-down(md) {
        font-size: 1.5em;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
    padding: 70px 0 0 0;
    }
}
.filtro {
    @include media-breakpoint-up(lg) {
        padding: 0 0 0 50px;
    } 
    @media only screen and (min-width: 1600px) {
        padding: 0 0 0 80px;
    } 
}
.filtrar {
    @include media-breakpoint-down(md) {
        width: 50%;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        padding: 0;
    }
}

select {
    @include media-breakpoint-down(md) {
        border: none;
        background-color: transparent;
        width: 100%;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}
}

.desktop {
    @include media-breakpoint-down(md) {
        display: none;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        display: block;
    }

}
.mobile {
    @include media-breakpoint-down(md) {
        display: block;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        display: none;
    }
}

.card-promocao {
    // @include media-breakpoint-up(lg) {
        padding: 60px 10px 0 10px;
    // }
}

