
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 promo header bg">
            <div class="col-lg-9 col-md-9 mx-auto">
                <div class="topo">
                    <h1 class="titulo-destaque">Promoções</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col-lg-9 col-md-9 mx-auto text-center">
                    <h2>Maior economia com seguros usando nosso código promocional</h2>
                    <div class="paragrafo">
                        <p class="txt-destaque v3">Desfrute de ótimos descontos nos produtos da 88i, incluindo nosso seguro de equipamentos eletrônicos, e Acidentes Pessoais.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col-lg-2 col-md-6 mx-auto filtro">
                    <div class="row">
                        <div class="col-lg-3 col-md-4  text-center filtrar">
                            <img src="./assets/icons/filtro.png" alt="">
                        </div>
                        <div class="col-lg-8 col-md-4 text-left filtrar">
                            <p class="txt-destaque v1">Filtrar por</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-8 mx-auto desktop text-center">
                    <div class="botoes-filtros">
                        <a href="#" class="btn-cotacao btn-ft">Todos</a>
                        <a href="#" class="btn-cotacao vo btn-ft">Celular</a>
                        <a href="#" class="btn-cotacao vo btn-ft">Acidentes Pessoais</a>
                        <!-- <a href="#" class="btn-cotacao vo btn-ft">Lorem ipsum</a>
                        <a href="#" class="btn-cotacao vo">Lorem ipsum</a> -->
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-lg-8 col-md-8  mx-auto desktop">
                    <div class="botoes-filtros vv ">
                        <a href="#" class="btn-cotacao vo btn-ft">Lorem ipsum</a>
                        <a href="#" class="btn-cotacao vo btn-ft">Lorem ipsum</a>
                        <a href="#" class="btn-cotacao vo btn-ft">Lorem ipsum</a>
                        <a href="#" class="btn-cotacao vo">Lorem ipsum</a>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-lg-8 col-md-8  mx-auto mobile">
                    <form action="#">
                        <select name="assunto" id="assunto">
                            <option value="" disabled>Assunto</option>
                            <option value="opc1">Lorem ipsum</option>
                            <option value="opc2">Lorem ipsum</option>
                            <option value="opc3">Lorem ipsum</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 topo v1 vv promocoes">
            <div class="row">
                <div class="col-lg-11 col-md-11 mx-auto">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 card-info  mx-auto" *ngFor="let promocoes of promotions;">
                            <div class="row">
                                <div class="col-3">
                                    <div class="card-color">
                                        <img src="./assets/icons/coupon.svg" alt="cupom">
                                    </div>
                                </div>
                                <div class="col-9 card-promocao">
                                    <p class="txt-destaque">{{ promocoes.description }}</p>
                                    <div class="text-right">
                                        <a href="javascript:void(0)" [routerLink]="['/produtos-voce']" routerLinkActive="active"
                                     class="btn-cotacao vi"> {{ promocoes.button }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
