<div class="row">
    <div class="col-lg-5 col-md-11 mx-auto mt-5">
        <div class="row">
            <div class="col-2 img-form">
                <img src="./assets/icons/formulario.png" alt="formulario">
            </div>
            <div class="col-10 mt-3 titulo-form">
                <a href="./assets/pdf/Homologacao_20200408.pdf" target="blanc">
                    <p class="txt-destaque">Formulário:  88i Manual - Condições Gerais E-mail.</p>
                </a>
            </div>
        </div>
    </div>
</div>