
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col-lg-11 col-md-11 mx-auto text-center">
                    <div class="text-center txt-destaque time">
                        Nosso time de especialistas é comprometido em entregar sempre o melhor. Com tecnologia de ponta, segurança e inteligência de dados, estamos focamos na personalização de produtos
                        de seguros. Somos um time apaixonado pelo que fazemos, inovar é uma constante para nossa equipe. Estamos em constante evolução para fazer a diferença no dia a dia dos nossos clientes.
                    </div>
                </div>
            </div>
        </div>  
    </div>  
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 time ">
            <div class="row">
                <img class="img-linha" src="./assets/background/linha.png" alt="">
            </div>
            <div class="row">
                <div class="col-lg-11 col-md-11 mx-auto topo vv">
                    <div class="row equipe">
                        <div class="col-lg-2 col-md-2 mx-auto equipe-pessoa">
                            <!--<div class="card-equipe" *ngFor="let time of equipe;">
                                <img src="{{ time.img }}" alt="">
                                {{ time.nome }}
                                <p class="time.destaque">
                                    {{ time.cargo }}
                                </p>
                            </div>-->
                            <img src="./assets/photos/roberto_ventura.png" alt="">
                            <a>Rodrigo Ventura</a><br/>
                            <a class="txt-destaque v1">CEO</a><br/>
                            11. 995555001<br/>
                            ventura@88i.io<br/>
                        </div>
                        <div class="col-lg-2 col-md-2 mx-auto equipe-pessoa">
                            <img src="./assets/photos/gustavo_figueiredo.png" alt="">
                            <a>Gustavo Figueiredo</a><br/>
                            <a class="txt-destaque v1">CTO</a><br/>
                            11. 991976133<br/>
                            gustavo@88i.io<br/>
                        </div>
                        <div class="col-lg-2 col-md-2 mx-auto equipe-pessoa">
                            <img src="./assets/photos/roberto_galera.png" alt="">
                            <a>Roberto Galera </a><br/>
                            <a class="txt-destaque v1">CFO</a><br/>
                            11. 984473757<br/>
                            Roberto.galera@88i.io<br/>
                        </div>
                        <div class="col-lg-2 col-md-2 mx-auto equipe-pessoa">
                            <img src="./assets/photos/rosi_sena.png" alt="">
                            <a>Rosi Sena</a><br/>
                            <a class="txt-destaque v1">COO</a><br/>
                            11. 970285851<br/>
                            rosi@88i.io<br/>
                        </div>
                    </div>
                    <!-- <div class="row equipe">
                        <div class="col-lg-2 col-md-2 text-center mx-auto equipe-pessoa">
                            <img src="./assets/photos/time-pessoas8.png " alt="">
                            <p>Nome da Pessoa</p>
                            <p class="txt-destaque">Cargo</p>
                        </div>
                        <div class="col-lg-2 col-md-2 text-center mx-auto equipe-pessoa">
                            <img src="./assets/photos/time-pessoas6.png" alt="">
                            <p>Nome da Pessoa</p>
                            <p class="txt-destaque">Cargo</p>
                        </div>
                        <div class="col-lg-2 col-md-2 text-center mx-auto equipe-pessoa">
                            <img src="./assets/photos/time-pessoas5.png" alt="">
                            <p>Nome da Pessoa</p>
                            <p class="txt-destaque">Cargo</p>
                        </div>
                        <div class="col-lg-2 col-md-2 text-center mx-auto equipe-pessoa">
                            <img src="./assets/photos/time-pessoas7.png" alt="">
                            <p>Nome da Pessoa</p>
                            <p class="txt-destaque">Cargo</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <img class="img-linha" src="./assets/background/linha.png" alt="">
            </div>
            <div class="row">
                <div class="col-lg-11 col-md-11 mx-auto text-center">
                    <h2 class="txt-destaque v4 text-center">Lorem ipsum dolor sit amet</h2>
                    <div class="card-descricao txt-destaque">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis auctor ante ac blandit.
                        Curabitur sed fermentum risus, eu tempor lacus. Aliquam a nibh commodo, consequat ante vitae, tempor
                        quam. In hac habitasse platea dictumst. Nulla facilisi. Donec in maximus ex, sed mollis sapien.
                        Suspendisse condimentum risus sed libero feugiat, nec consectetur erat ornare. Nunc tortor augue,
                        pharetra ut velit vel, finibus gravida ipsum. Nulla vel tempus sem. Phasellus efficitur nunc a faucibus
                        accumsan. Duis ullamcorper felis sit amet sollicitudin consectetur.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
        