@import 'variables';
@import 'components';
@import 'helpers';

/*.card-equipe {
    img {
        width: 90%;
    }
}*/

.equipe {
    img {
        width: 90%;
    }
}

h2 {
    font-size: 1.5em;
}
.time {
    @include media-breakpoint-down(md) {
        padding: 2px 5px;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        padding: 20px 150px;
    } 
}

.equipe-pessoa {
    @include media-breakpoint-down(md) {
        text-align: center;
        width: 70%;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        text-align: center;
    }
    a {
        font-weight: bold;
    } 
}