nav {
    li {
        display: inline-block;
    }
}
a {
    text-decoration: none;
}
.bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-default {
    background-color: $theme-color-7;

    &.v1 {
        background-color: $theme-color-3;
    }
}

.header {
    padding: 130px 50px;
    text-align: center;

    &.v3{
    padding: 200px 0px;

    }

    &.v4{
      padding: 100px 0px;

      }
}
.topo {
    // padding: 10% 0;
    color: $theme-color-2;
    padding: 120px 0;

    &.vv {
        color: $theme-color-1;
    }
}

.topo-1 {
  // padding: 10% 0;
  color: $theme-color-2;
  padding: 5px 0;


}

a, div, p{
  text-decoration: none !important;
}

h2 {
    padding: 70px 0;
}

h1 {
    color: $theme-color-2;
    &.v1{
        color: $theme-color-1;
        font-size: 3.5em;
        padding: 11% 0 0 0;
    }
    &.v2 {
        font-size: 3.5em;
    }
}
.paragrafo {
    padding: 2% 0;

    &.v1{
        padding: 1% 3%;
    }

    &.v2{
        padding: 5% 0 0 40%;
    }
    &.v3{
        padding: 15% 10% 5% 10%;
    }
}

.video {
    padding-bottom: 5%;
}

.elipse {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-image: linear-gradient(to bottom, $theme-color-5, $theme-color-4);

    &.v1 {
        width: 85px;
        height: 85px;
        position: relative;
        top: 0;
        left: 35%;
        // background-image: none;
        background-color: $theme-color-1;
        &.vo {
            background-color: $theme-color-2;
        }
        &.vv {
            width: 75px;
            height: 75px;
        }
    }
    &.v2 {
        width: 30px;
        height: 30px;
    }
    &.v3 {
        background-color:$theme-color-4;
    }
    &.v4 {
        position: relative;
        top: 10%;
        left: 1%;
        &.vv {
            left: 2%;
        }
        &.vo {
            left: 3%;
        }
    }
    .icon-elipse{
        position: relative;
        top: 25px;
        &.v1 {
            top: 35px;
        }
        &.v2 {
            top: 20px;
        }
        &.v3 {
            top: 20px;
            left: 18px;
        }
    }
}
.card-elipse {
    cursor: pointer;
}
.txt-elipse {
    font-size: 1.2em;
    color: $theme-color-2;
    position: relative;
    font-family: Avenir-Medium;

    top: 10px;
    left: -15px;
    font-weight: bold;
    &.v1 {
        left: 8px;
    }
    &.v2 {
        color: $theme-color-1;
    }
}
.teste {
    padding-left: 40%;
}
.txt-destaque {
    color: $theme-color-3;

    &.v1 {
        color: $theme-color-4;
    }

    &.v2 {
        color: $theme-color-2;
    }
    &.v3{
        padding: 0 27%;
    }
    &.v4 {
        color: $theme-color-1;
        // font-weight: bold;
    }
    &.v5 {
        padding: 0 230px;
    }
    &.v6 {
        padding: 20px 0;
    }
}

.img-linha {
    width: 100%;
}
.card-destaque {
    padding: 2% 0 1% 0;
    background-color: $theme-color-4;

    &.v1{
        background-color: $theme-color-9;
    }
    &.v2 {
        background-color: $theme-color-9;
        color: $theme-color-1;

        &.active {
            background-color: $theme-color-4;
            color: $theme-color-2;
        }
    }
}

.card-info{
    background-color: $theme-color-8;
    padding: 1% 0 5% 0;
    &.v1{
        margin-top: 2%;
    }
}
.card-descricao {
    padding: 2% 20%;
}
.card-mais-info {
    background-color: $theme-color-5;
    padding: 0 2%;
    text-align: left;
}
.elipse-line-one {
    position: relative;
    top: 0;
    // left: 30%;
}
.elipse-line {
    position: relative;
    top: 2%;
    // left: 30%;
    &.vv {
        top: 4%;
    }
    &.vo {
        top: 6%;
    }
}
.envelope {
    width: 15%;
}
.btn-cotacao {
    background-color: $theme-color-4;
    color: $theme-color-2;
    padding: 1% 2%;
    position: relative;
    top: 0;
    left: 11.5%;
    font-family: Avenir-Heavy;
    border-radius: 15px;


    &:hover{
      color: $theme-color-4 !important;
      border: 1px solid $theme-color-4;
      background-color: transparent;

    }

    &.v1{
        background: transparent;
        padding: 0 0 0.5% 0;
        left: 0;
        img {
            width: 43%;
        }
    }

    &.v2 {
        padding: 2% 8%;
    }

    &.v3{
        background: transparent;
        padding: 2% 14%;
        border: 2px solid $theme-color-5;
        top: 5%;
        img {
            width: 15%;
        }
    }

    &.v4 {
    top: 0;
    left: 40%;
    padding: 10px 30px;
    }
}

.titulo-destaque {
    font-size: 3.4em;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Avenir-Black;


}
.modal {
    background-color:$theme-color-1;
}
.modal-content {
    background-color: transparent;
    border: none;
    position: relative;
    top: 120px;
    color: $theme-color-10;
    .close {
        position: relative;
        left: 45%;
    }
    .txt-modal {
        color: $theme-color-2;
        padding: 0 30% 2% 30%;
        &.v1 {
            padding: 0 30px;
        }
        .txt-modal-um {
            padding: 0 70px;
        }
    }
}

.txt-descricao {
    @media only screen and (min-width: 1680px) {
      font-size: 2em;
    }
  }