mat-accordion.custom {
    mat-expansion-panel {
      background:  #FBDC02;
      margin-top: 0.2%;
      border: none !important;
      border-radius: 0;
      box-shadow: none !important;
      text-align: left;
      // width: 98%;
  
    //   mat-panel-title {
    //     // font-family: SF Pro Text;
    //     font-style: normal;
    //     font-weight: 400;
    //     font-size: 20px;
    //     line-height: 164.5%;
    //     letter-spacing: -0.5px;
    //     color: blue;
      }
    //   mat-panel-description{
        // font-family: SF Pro Text;
        // font-style: normal;
        // font-weight: normal;
        // font-size: 15px;
        // line-height: 164.5%;
        // color: crimson;
    //   }
  
    //   mat-expansion-panel-header {
        // img {
        //   transition: all 1s;
        // }
        // &.mat-expanded img {
        //   transform: rotate(180deg);
        //   transition: all 500ms;
        // }
    //   }
  
    
  
    // .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
    //   background: none;
    // }
  
  
  }

