<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 help-topo bg">
            <div class="col-lg-9 col-md-9 mx-auto">
                <div class="topo">
                    <h1 class="titulo-ajuda">Formularios</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col-lg-6 col-md-11 mx-auto text-center content-help">
                    <div class="row">                        
                        <div class="col-lg-6 col-md-3 tipo-form"
                        [routerLink]="['formularios']"
                            routerLinkActive="active">
                            <p>Formulários </p>
                        </div>
                        <div class="col-lg-6 col-md-3 tipo-form "
                        [routerLink]="['reinvindicacoes']"
                             routerLinkActive="active">
                            <p>Sinistros </p>
                        </div>
                        <!-- <div class="col-lg-3 col-md-3 tipo-form"
                        [routerLink]="['pagamentos']"
                             routerLinkActive="active">
                            <p>Formas de Pagamentos</p>
                        </div>
                        <div class="col-lg-3 col-md-3 tipo-form"
                        [routerLink]="['formularios']"
                             routerLinkActive="active">
                            <p>Formularios </p>
                        </div> -->
                    </div>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>