@import 'variables';
@import 'components';
@import 'helpers';

.img-form {
    @include media-breakpoint-down(md) {
        width: 30%;
        position: relative;
        // left:  -5%;
    }
}

.titulo-form {
    @include media-breakpoint-up(lg) {
        margin: 0 0 0 -25px;
    } 
    @media only screen and (min-width: 1680px) {
        margin: 0 0 0 -35px;
    }
}
.txt-destaque {
    padding: 1.5% 0;
}

.tipo-form {
    color: $theme-color-3;
    cursor: pointer;
    text-decoration: none !important;
    outline: 0;
    &.active {
        color: $theme-color-1;
    }
    &.active::after {
        content: '';
        position: absolute;
        top: 70%;
        left: 20%;
        width: 60%;
        height: 3px;
        background-color: $theme-color-1;
    }
}
