@import 'variables';
@import 'components';
@import 'helpers';

.txt-destaque {
    &.v1 {
        font-size: 1.9em;
        &.vv {
            font-size: 1.2em;
        }
    }
}

select {
    width: 100%;
    height: 7vh;
    border-radius: 5px;
    border: 1px solid $theme-color-1;
    color: $theme-color-3;
}

.card {
    border: none;
    margin-bottom: 5%;
    width: 90%;
    height: 112vh;
    @include media-breakpoint-down(md) {
        height: 85vh;
    }
    @media only screen and (min-width: 350px)  and (max-width: 365px){
        height: 102vh;
    }
    @media only screen and (min-width: 1250px) and (max-width: 1344px) {
        height: 95vh;
    }
    @media only screen and (min-width: 1600px) {
        height: 95vh;
    }
}

.card-img-top {
    padding: 0 1px;
    img {
        width: 100%;
    }
}

.posts {
    padding: 0 0 0 70px;
    @include media-breakpoint-down(md) {
        padding: 0 0 0 30px;
    }
}
// .conteudo {
//     height: 55vh;
// }
