<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 header v4 bg" style="background-image: url('./assets/background/blog.png'); ">
            <div class="col-lg-9 col-md-9 mx-auto">
                <div class="topo">
                    <h1 class="text-uppercase">
                        A 88i vai mudar a forma de se fazer seguros no Brasil e no Mundo
                    </h1>
                    <!-- Mudando a maneira como o Brasil se sente em
                    relação aos seguros -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 topo v1">
            <div class="row mx-0">
                <div class="col-lg-1 col-md-6 mx-auto text-center">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <img src="./assets/icons/filtro.png" alt="">
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <p class="txt-destaque v1">Filtros</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row  mx-0">
                <div class="col-lg-3 col-md-3 localizador mx-auto">
                    <select name="regiao" id="regiao">
                        <option value="" disabled>Todos</option>
                        <option value="veiculo">Veículo (auto / moto)</option>
                        <option value="familia">Família</option>
                        <option value="viagem">Viagem</option>
                        <option value="saude">Saúde</option>
                        <option value="mobilidade">Mobilidade</option>
                        <option value="blockchain">Tecnologia / Blockchain</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col-lg-11 col-md-11 mx-auto posts">
                    <div class="row">
                        <div class="col-lg-6 col-md-6" *ngFor="let posts of post;">
                            <div class="card card-info">
                               <div class="card-img-top">
                                    <img [src]="posts.img" alt="">
                               </div>
                                <div class="card-body">
                                    <div class="conteudo">
                                        <p class="txt-destaque"> {{ posts.date }} </p>
                                        <p class="txt-destaque v4"> {{ posts.title }}</p>
                                        <p class="txt-destaque"> {{ posts.description }} </p>
                                        <a [href]="posts.link" target="blanc" class="txt-destaque v1 vv"> Leia Mais </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
