
<div class="row text-left topo v1">
    <div class="col-lg-5 col-md-5 mx-auto ligue mt-3">
        <p class="txt-destaque v1"> Atendimento / Hot-line: +55(11)97803-8881</p>
        <p class="txt-destaque">Expediente: Segunda a Sexta: 09am - 6pm</p>
        <!-- <p class="txt-destaque">Sábado: 09:00 às 13:00</p> -->
        <p class="txt-destaque">(Exceto feriados públicos)</p>

    </div>
</div>
