<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12  produtos-topo header bg v2">
            <div class="col-lg-9 col-md-9 mx-auto">
                <div class="topo">
                    <h1 class="v2">Seguro de Eletrônicos: Celular</h1>
                    <h4 class="txt-descricao">Proteja o seu celular e fique tranquilo</h4>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-11 prod-btn">
                        <a class="btn btn-cotacao v4 w-100"  href="javascript:void(0)" [routerLink]="['/transacional']" routerLinkActive="active"> Fazer uma cotação </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 ">
            <div class="row">
                <div class="col-lg-4 col-md-4 mx-auto text-center topo v2">
                    <div class="row mx-0">
                        <div class="col-lg-6 col-md-6  card-destaque v2"
                        [routerLink]="['voce-um']"
                            routerLinkActive="active">
                            <p class="txt-destque v2">Simples</p>
                        </div>
                        <div class="col-lg-6 col-md-6 card-destaque v2"
                        [routerLink]="['voce-dois']"
                             routerLinkActive="active">
                             <p class="txt-destque v2">Completo</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-flud mb-5">
    <div class="row mx-0">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col-lg-11 col md-11 mx-auto conteudo">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 produtos-respostas bg v1">
            <div class="col-lg-9 col-md-9 mx-auto text-center">
                <div class="topo v1">
                    <h2>Você perguntou, nós respondemos.</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 mx-auto text-center">
                        <img class="img-duvidas" src="./assets/icons/atendimento.png" alt="">
                        <div class="txt-destaque v2">
                            <p>O que faço em caso de imprevistos?</p>
                           <a>
                               Entre em contato conosco como preferir, pelo
                            WhatsApp  (11) 97803-8881 (incluir link), pelo
                            email: contato@88i.io, ou pelo chat
                           </a> 
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mx-auto text-center">
                        <img class="img-duvidas" src="./assets/icons/franquia.png" alt="">
                        <div class="txt-destaque v2">
                            <p>Este seguro possui franquia?</p>
                            <a>
                                Sim. A franquia é de 25% do valor da
                                cobertura contratada.
                            </a>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mx-auto text-center ">
                        <img class="img-duvidas" src="./assets/icons/validade.png" alt="">
                        <div class="txt-destaque v2">
                            <p>Qual o prazo de validade do seguro?</p>
                            <a>
                                O seguro tem prazo de validade anual. O
                                pagamento pode ser realizado mensalmente
                                com cartão de crédito ou à vista no boleto.
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row respostas">
                    <div class="col-lg-4 col-md-4  text-center">
                        <img class="img-duvidas" src="./assets/icons/cartao-credito.png" alt="">
                        <div class="txt-destaque v2">
                            <p>O limite do meu cartão fica comprometido?</p>
                            <a>
                                Não. As parcelas são debitadas
                                mensalmente sem comprometer o limite
                                do seu cartão de crédito.
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4  text-center">
                        <img class="img-duvidas" src="./assets/icons/cancelamento.png" alt="">
                        <div class="txt-destaque v2">
                            <p>Posso cancelar o meu seguro?</p>
                            <a>
                                (pró-rata 12 meses em caso de pagamento à vista)
                                Sim. Pode cancelar a qualquer momento sem multa,
                                caso não haja sinistro, e ainda pode receber
                                seu dinheiro de volta proporcionalmente (pró-rata 12 meses).
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
            <div class="row">
                <div class="col-lg-9 col-md-9 mx-auto">
                    <h2>Cobrimos exatamente o que você precisa.
                        Nada mais, nada menos</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-11 col-md-11 mx-auto">
                    <div class="row card-planos">
                        <div class="col-lg-4 col-md-4 tipo-planos">
                            Resumo de Planos
                        </div>
                        <div class="col-lg-4 col-md-4 tipo-planos">
                            Simples
                        </div>
                        <div class="col-lg-4 col-md-4 tipo-planos">
                            Completo
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 planos">
                            <p class="txt-destaque paragrafo vv text-uppercase">Coberturas</p>
                        </div>
                        <div class="col-lg-4 col-md-4 planos">
                            <p class="txt-destaque paragrafo vv"> Roubo e Furto </p>
                        </div>
                        <div class="col-lg-4 col md-4 planos v1">
                            <p class="txt-destaque paragrafo vv"> Roubo e Furto + Líquido e Quebra </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 planos">
                            <p class="txt-destaque paragrafo vi text-uppercase">Detalhes</p>
                        </div>
                        <div class="col-lg-4 col-md-4 planos">
                            <p class="txt-destaque paragrafo vo">
                                Abrange o pagamento da indenização em caso de roubou ou furto qualificado,
                                mediante registro de BO policial.
                            </p>
                        </div>
                        <div class="col-lg-4 col md-4 planos v1">
                            <p class="txt-destaque paragrafo vv">
                                Além do roubo e furto, garante o reparo do aparelho em casos como quebra de visor e
                                outros danos estruturais, causados de forma não intencional e acidental.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 planos">
                            <p class="txt-destaque paragrafo vv text-uppercase">franquia</p>
                        </div>
                        <div class="col-lg-4 col-md-4 planos">
                            <p class="txt-destaque paragrafo vv"> 25% do valor de cobertura contratado </p>
                        </div>
                        <div class="col-lg-4 col md-4 planos v1">
                            <p class="txt-destaque paragrafo vv"> 25% do valor de cobertura contratado </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 planos">
                            <p class="txt-destaque paragrafo vv text-uppercase">carência</p>
                        </div>
                        <div class="col-lg-4 col-md-4 planos">
                            <p class="txt-destaque paragrafo vv"> Não há </p>
                        </div>
                        <div class="col-lg-4 col md-4 planos v1">
                            <p class="txt-destaque paragrafo vv"> Não há </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 planos">
                            <p class="txt-destaque paragrafo vo text-uppercase">seguradora / assistência</p>
                        </div>
                        <div class="col-lg-4 col-md-4 planos">
                            <p class="txt-destaque paragrafo vo"> Generali </p>
                        </div>
                        <div class="col-lg-4 col md-4 planos v1">
                            <p class="txt-destaque paragrafo vv"> Generali – Roubo e Furto <br/>
                                88i – Assistência ( Danos causados por líquido e quebra) </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 planos">
                            <p class="txt-destaque paragrafo vo text-uppercase">em caso de sinistro</p>
                        </div>
                        <div class="col-lg-4 col-md-4 planos">
                            <p class="txt-destaque paragrafo vv"> Pagamento da franquia + mensalidades
                                restantes (somente cartão de crédito).</p>
                        </div>
                        <div class="col-lg-4 col md-4 planos v1">
                            <p class="txt-destaque paragrafo vv"> Pagamento da franquia + mensalidades
                                restantes (somente cartão de crédito).</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 mat-prod mt-3">
                            <div class="row">
                                <mat-accordion class="custom w-100">
                                    <mat-expansion-panel hideToggle>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <p class="txt-destaque v4">
                                                            <img  class="plus" src="./assets/icons/mais.png" alt="">Formas de pagamentos
                                                        </p>
                                                    </a>
                                                </li>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <mat-panel-description>
                                        <p class="txt-informacoes">
                                            A 88i aceita pagamentos via Cartão de Crédito, Cartão de Crédito Pré-Pago, Boleto Bancário e Moedas
                                            Digitais via QR Code.
                                        </p>
                                        </mat-panel-description>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                            <div class="row">
                                <mat-accordion class="custom w-100">
                                    <mat-expansion-panel hideToggle>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <p class="txt-destaque v4">
                                                            <img class="plus" src="./assets/icons/mais.png" alt="">
                                                            Itens não cobertos
                                                        </p>
                                                    </a>
                                                </li>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <mat-panel-description>
                                        <p class="txt-informacoes v1">
                                            Furto Simples, Esquecimento, Indenização por compra de aparelhos roubados e ou bloqueados na ANATEL.
                                        </p>
                                        </mat-panel-description>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                    </div>
                    <div class="row btn-mobile ">
                        <a class="btn btn-cotacao v4" href="javascript:void(0)" [routerLink]="['/transacional']" routerLinkActive="active"> Fazer uma cotação </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
