@import "variables";
@import "components";
@import "helpers";
@import "material-ajusts";

.header {
  padding: 10% 0 3% 0;
}

h2 {
  padding: 0 30%;
  font-size: 1.7em;
}

input,
select {
  border: 1px solid $theme-color-1;
  margin-top: 2%;
  &::placeholder {
    color: $theme-color-1;
  }
  option {
    color: $theme-color-1;
  }
}

.card {
  cursor: pointer;
  margin: 5% 3%;
}

.cartao,
.boleto {
  box-shadow: -1px 0px 29px -2px rgba(0, 0, 0, 0.75);
  transform: scale(1);
  transition: all (1s);

  &:hover {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.39);
    transform: scale(1.1);
    transition: all (500ms);
  }
}

.btn-cotacao {
  top: 10px;
  left: 0;
  padding: 10px;
  width: 100%;
  font-weight: bold;
  color: $theme-color-1;
  &.v3 {
    color: $theme-color-2;
  }
  &.vv {
    width: 45%;
  }
  &.vi {
    left: 10%;
  }
  &.vo {
    background-color: transparent;
    border: 2px solid $theme-color-3;
    color: $theme-color-3;
  }
}

.formas-pagamento {
  padding: 5% 0;
}
.card {
  width: 35%;
  text-align: center;
  padding: 25px 0 0 0;
  position: relative;
  left: 13%;
  top: 10px;
  box-shadow: 5px 5px 5px #a7a5a5, 6px 9px 50px #a7a5a5;
  img {
    width: 30%;
    position: relative;
    left: 35%;
  }
  // &.cartao { }
  &.boleto {
    left: 15%;
  }
}

.btn-cotacao {
  &.v3 {
    border: 1px solid $theme-color-10;
    padding: 2% 0;
    width: 50%;
    text-transform: uppercase;
  }
}

.topo-pagamento {
  padding: 10% 5%;
  @include media-breakpoint-down(md) {
    background-color: $theme-color-1;
    background-image: none;
  }
  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(lg) {
  }
}
.modal-content {
  .txt-modal {
    padding: 0;
  }
}

button.action {
  color: #007bff;
  background-color: transparent;
  border: 1px solid transparent;
}
.titulo-step {
  font-size: 1.3em;
  font-family: "Avenir-Heavy";
  @include media-breakpoint-down(md) {
    font-size: 0.6em;
  }
}

.hide {
  display: none;
}
