<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 topo-pagamento header bg"
            style="background-image: url('./assets/background/transacional.png');">
            <div class="col-lg-9 col-md-9 mx-auto">
                <div class="topo v1">
                    <h2>
                        Dados do Aparelho
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col-lg-5 col-md-5 mx-auto">
                    <form action="#" autocomplete="off">
                        <mat-horizontal-stepper labelPosition="bottom" #stepper [linear]="true">
                            <mat-step [stepControl]="firstFormGroup" state="phone">
                                <ng-template matStepLabel>
                                    <div class="titulo-step">Dados do aparelho</div>
                                </ng-template>
                                <div class="row">
                                    <form [formGroup]="firstFormGroup">
                                        <div class="col-lg-12 col-md-12 mx-auto topo v1">
                                            <select name="valor" id="valor" class="form-control" required
                                                formControlName="valor"
                                                [(ngModel)]="currentPlan.PolicyLobList[0].PolicyRiskList[0].EquipmentType"
                                                (ngModelChange)="step2Active($event)">
                                                <option value=""> Equipamento</option>
                                                <option value="{{ item.Id }}"
                                                    *ngFor="let item of businessCodeTableValueList">
                                                    {{ item.Description }}
                                                </option>
                                            </select>
                                            <select name="marca" id="marca" class="form-control" required
                                                formControlName="marca" (change)="getModelMovil()"
                                                (ngModelChange)="step2Active($event)"
                                                [(ngModel)]="currentPlan.PolicyLobList[0].PolicyRiskList[0].Make">
                                                <option value="" selected> Marca</option>
                                                <option value="1">Alcatel</option>
                                                <option value="2">Apple</option>
                                                <option value="3">Asus</option>
                                                <option value="4">Blackberry</option>
                                                <option value="7">HTC</option>
                                                <option value="8">Huawei</option>
                                                <option value="9">Lenovo</option>
                                                <option value="10">LG</option>
                                                <option value="11">Motorola</option>
                                                <option value="13">Positivo</option>
                                                <option value="15">Samsung</option>
                                                <option value="16">Sony</option>
                                            </select>
                                            <select name="modelo" id="modelo" class="form-control" required
                                                formControlName="modelo"
                                                [(ngModel)]="currentPlan.PolicyLobList[0].PolicyRiskList[0].Model"
                                                (ngModelChange)="step2Active($event)">
                                                <option value="" selected> Modelo</option>
                                                <option value="{{ item.Id }}" *ngFor="let item of phones">
                                                    {{ item.Description }}</option>
                                            </select>
                                            <input type="number" name="imei" formControlName="imei"
                                                placeholder="IMEI (disque *#06# no celular)" class="form-control"
                                                (blur)="step2Active($event)"
                                                [(ngModel)]="currentPlan.PolicyLobList[0].PolicyRiskList[0].IMEI"
                                                [attr.required]="requiredEmail?true:null"
                                                [attr.disabled]="requiredEmail?null:true">
                                            <div>
                                                <button (click)="setRequiredEmail()" class="action"
                                                    *ngIf="requiredEmail">Envio a foto do IMEI
                                                    depois por e-mail</button>
                                                <button *ngIf="!requiredEmail" (click)="setRequiredEmail()"
                                                    class="action">Eu quero enviar o
                                                    IMEI</button>
                                            </div>
                                            <input type="text" name="nota-fiscal" placeholder="Nota Fiscal"
                                                formControlName="nota_fiscal" (blur)="step2Active($event)"
                                                [(ngModel)]="currentPlan.PolicyLobList[0].PolicyRiskList[0].InvoiceNumber"
                                                class="form-control" [required]="requiredInvoiceNumber?true:null"
                                                [attr.disabled]="requiredInvoiceNumber?null:true">
                                            <button *ngIf="requiredInvoiceNumber" (click)="setRequiredInvoiceNumber()"
                                                class="action">Estou sem no momento, envio
                                                depois por e-mail</button>
                                            <button *ngIf="!requiredInvoiceNumber" (click)="setRequiredInvoiceNumber()"
                                                class="action">Eu quero enviar
                                                agora</button>
                                            <button style="visibility: hidden;" class="action">Estou sem no momento,
                                                envio
                                                depois por e-mail</button>
                                            <button mat-button matStepperNext class="btn btn-cotacao" [disabled]="(currentPlan.PolicyLobList[0].PolicyRiskList[0].Make == ''
                                        || currentPlan.PolicyLobList[0].PolicyRiskList[0].Model == '' || (requiredInvoiceNumber && currentPlan.PolicyLobList[0].PolicyRiskList[0].InvoiceNumber == '') || (requiredInvoiceNumber && !currentPlan.PolicyLobList[0].PolicyRiskList[0].InvoiceNumber) || (requiredEmail && currentPlan.PolicyLobList[0].PolicyRiskList[0].IMEI == '')
                                        || (requiredEmail && !currentPlan.PolicyLobList[0].PolicyRiskList[0].IMEI)
                                        )? true:null">Continuar
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </mat-step>
                            <mat-step [stepControl]="secondFormGroup">
                                <ng-template matStepLabel>
                                    <div class="titulo-step">Dados pessoais</div>
                                </ng-template>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 mx-auto topo v1">
                                        <form #f="ngForm" [formGroup]="secondFormGroup" (ngSubmit)="onSubmit(f)"
                                            autocomplete="off">
                                            <input type="text" name="cep" placeholder="CEP" class="form-control"
                                                (blur)="getZip()" required mask="00000-000" formControlName="cep"
                                                [(ngModel)]="currentPlan.PolicyCustomerList[0].PostCode">
                                            <input type="text" name="endereco" placeholder="Endereço"
                                                class="form-control" required readonly formControlName="endereco"
                                                [(ngModel)]="currentPlan.PolicyCustomerList[0].Address">
                                            <input type="number" name="numero" placeholder="Número" class="form-control"
                                                formControlName="numero" required
                                                [(ngModel)]="currentPlan.PolicyCustomerList[0].AddressNumber">
                                            <input type="text" name="complemento" placeholder="Complemento"
                                                formControlName="complemento" class="form-control"
                                                [(ngModel)]="currentPlan.PolicyCustomerList[0].AddressComplement">
                                            <input type="text" name="bairro" placeholder="Bairro" class="form-control"
                                                required [(ngModel)]="currentPlan.PolicyCustomerList[0].Suburb"
                                                formControlName="bairro" readonly>
                                            <select name="estado" id="estado" class="form-control" required
                                                [(ngModel)]="currentPlan.PolicyCustomerList[0].State" [disabled]="true"
                                                formControlName="estado" (change)="getCities()">
                                                <option value=""> Estado</option>
                                                <option value="{{ item.Id }}" *ngFor="let item of states">
                                                    {{ item.Description }}
                                                </option>
                                            </select>
                                            <select name="cidade" id="cidade" class="form-control" required
                                                formControlName="cidade" [disabled]="true"
                                                [(ngModel)]="currentPlan.PolicyCustomerList[0].City">
                                                <option value=""> Cidade</option>
                                                <option value="{{ item.Id }}" *ngFor="let item of cities">
                                                    {{ item.Description }}
                                                </option>
                                            </select>
                                            <input type="text" name="data" placeholder="Data Nascimento"
                                                class="form-control" required mask="00/00/0000" formControlName="data"
                                                [dropSpecialCharacters]="false"
                                                [(ngModel)]="currentPlan.PolicyCustomerList[0].DateOfBirth"
                                                (blur)="checkDate()">
                                            <input type="text" name="cpf" placeholder="CPF" class="form-control"
                                                mask="000.000.000-00" required (blur)="validateCpf(f)"
                                                formControlName="cpf"
                                                [(ngModel)]="currentPlan.PolicyCustomerList[0].IdNo">
                                            <button mat-button matStepperPrevious class="btn btn-cotacao vv vo">Voltar
                                            </button>
                                            <button id="sendStep2" mat-button matStepperNext
                                                class="btn btn-cotacao vv vi"
                                                [disabled]="f.invalid === true? true: null">Continuar
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </mat-step>
                            <mat-step [stepControl]="">
                                <ng-template matStepLabel>
                                    <div class="titulo-step">Pagamento</div>
                                </ng-template>
                                <div class="row">
                                    <div class=" col-lg-12 col-md-12 mx-auto">
                                        <div class="row">
                                            <div class="card cartao" (click)="payTarget()" routerLinkActive="active">
                                                <img src="./assets/icons/cartao.png" alt="cartao">
                                                <p>Cartão</p>
                                            </div>
                                            <div class="card boleto" data-toggle="modal" data-target="#exampleModal1">
                                                <img src="./assets/icons/boleto.png" alt="cartao">
                                                <p>Boleto</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <button mat-button matStepperPrevious class="btn btn-cotacao">Voltar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </mat-step>
                        </mat-horizontal-stepper>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-boleto text-center">
                <img src="./assets/icons/checked.png" alt="">
                <div class="pronto">
                    <p>Falta pouco para você estar protegido!</p>
                    <p>Basta efetuar o pagamento do boleto.</p>
                </div>
                <div class="txt-modal">
                    <p>O boleto foi enviado para:</p>
                    (1) o e-mail cadastrado;
                    (procure pela palavra “boleto 88” e ou contato@88i.io em seu e-mail, inclusive no spam)
                    (2) seu internet banking via DDA;
                    (3) ou faça o download.
                </div>
                <a class="btn btn-cotacao v3" (click)="download()" *ngIf="showButton">
                    <img src="./assets/icons/download.png" alt="">
                    Baixar Boleto
                </a>
            </div>
        </div>
    </div>
</div>