@import "variables";
@import "components";
@import "helpers";

.header {
  @media only screen and (min-width: 1680px) {
   padding: 130px 50px 180px 50px;
  }
}
.card-elipse{
  text-decoration: none !important;
  outline: none;

  div{
    text-decoration: none !important;
    position: relative;
    @media only screen and (min-width: 1680px) {
      left: 15px;
    }
    @media only screen and (min-width: 2560px) {
      left: 70px;
    }
  }
}

.info-mob {
  @include media-breakpoint-down(md) {
    width: 50%;
    text-align: center;
  }
  @include media-breakpoint-up(md) {}
  @include media-breakpoint-up(lg) {}
}

.paragrafo {
  &.v2 {
    @include media-breakpoint-down(md) {
      padding: 0;
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }
  }
}

.premios {
  @include media-breakpoint-down(md) {
    padding: 10px 30px;
  }

  @include media-breakpoint-up(md) {
  }

  @include media-breakpoint-up(lg) {
    text-align: center;
  }

  .txt-destaque {
    &.v2 {
      @include media-breakpoint-down(md) {
        position: relative;
        top: -45%;
        left: 5%;
      }
      @include media-breakpoint-up(md) {}
      @include media-breakpoint-up(lg) {}
    }
    &.v6 {
      @include media-breakpoint-down(md) {
        text-align: center;
      }
      @include media-breakpoint-up(md) {}
      @include media-breakpoint-up(lg) {}
    }
    .descricao {
      padding: 20px;

      @include media-breakpoint-down(md) {}
      @include media-breakpoint-up(md) {}
      @include media-breakpoint-up(lg) {}
    }
    .data {
      position: relative;
      top: -27px;
    }
  }

  img {
    position: relative;
    @include media-breakpoint-down(md) {
      left: 15px;
    }
  }

}
.slick-slide {
  img {
    @include media-breakpoint-down(md) {
      display: inline;
    }
  }
}

iframe {
  width: 70%;
  height: 350px;
}

.topo-card {
  img {
    margin-left: 2%;
  }
}

.star {
  padding: 5.2% 0;
}

.media {
  // position: absolute;
  @include media-breakpoint-down(md) {
    left: 60px;
  }
  @include media-breakpoint-up(md) {}
  @include media-breakpoint-up(lg) {}

  &.v1 {
    @include media-breakpoint-down(md) {
      top: -110px;
      left: 160px;
      padding: 0;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
      padding: 0 5% 0 0;
    }
  }
}

h1 {
  &.v1 {
    &.vv {
      color: $theme-color-3;
    }
  }
}

.topo-card::before {
  content: "";
  position: absolute;
  top: 65px;
  left: 2%;
  width: 95%;
  height: 1px;
  opacity: 30%;
  background-color: $theme-color-3;
}

.titulo-destaque {
  @include media-breakpoint-down(md) {
    font-size: 2em;
  }

  @include media-breakpoint-up(md) {
  }

  @include media-breakpoint-up(lg) {
    font-size: 3em;
  }
  @media only screen and (min-width: 1680px) {
    font-size: 4em;
  }
}

.topo {
  &.v1 {
    @include media-breakpoint-down(md) {
      padding: 20px 0;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
      padding: 80px 0 0 0;
    }
  }
}

.card-info {
  border-radius: 10px;
  padding: 20px 0 3px 0;
}

.clientes {
  position: relative;
  @include media-breakpoint-down(md) {
    // top: -120px;
  }
  @include media-breakpoint-up(md) {}
  @include media-breakpoint-up(lg) {}
}

.carousel-indicators {
  background-color: black;
}

.home-topo {
  // padding: 10% 5%;

  @include media-breakpoint-down(md) {
    background-image: url(../../../assets/background/home-mobile.png);
  }
  @include media-breakpoint-up(md) {}
  @include media-breakpoint-up(lg) {
    background-image: url(../../../assets/background/home.png);
  }
}

.cotacao {
  @include media-breakpoint-down(md) {
    position: relative;
    top: -20px;
    padding: 0 17% 0 0;
  }
}
.medias {
  @include media-breakpoint-down(md) {
    padding: 0 30px;
    background-color: $theme-color-9;
  }
  @include media-breakpoint-up(md) {}
  @include media-breakpoint-up(lg) {}

}
.modal {
  background-color: $theme-color-3;
}

.modal-content {
  top: 10px;
  .close {
    position: relative;
    left: 45%;
    color: $theme-color-1;
  }
  .txt-modal {
    color: $theme-color-4;
    padding: 0 30% 2% 30%;
  }
  .txt-elipse {
    left: 0;
  }
  img {
    position: relative;
    left: 25px;
  }
}

.elipse {
  box-shadow: -1px 0px 29px -2px rgba(0, 0, 0, 0.75);
  transform: scale(1);
  transition: all (1s);

  &:hover {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.39);
    transform: scale(1.1);
    transition: all (500ms);
  }

  &.v1 {
    @include media-breakpoint-down(md) {
      left: 35px;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}
  }
  .icon-elipse {
    @media only screen and (min-width: 1680px) {
      position: relative;
      left: 0;
    }
  }
}

.home-premios {
  @include media-breakpoint-down(md) {
    background-image: url(../../../assets/background/home-oito-mobile.png);
  }

  @include media-breakpoint-up(md) {
  }

  @include media-breakpoint-up(lg) {
    background-image: url(../../../assets/background/home-oito.png);
  }
}

.desktop {
  @include media-breakpoint-down(md) {
    display: none;
  }

  @include media-breakpoint-up(md) {
  }

  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.mobile {
  @include media-breakpoint-down(md) {
    display: block;
  }

  @include media-breakpoint-up(md) {
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.setas {
  position: relative;
  top: -180px;
  cursor: pointer;
  .seta-um {
    position: absolute;
    left: -90px;
  }
  .seta-dois {
    position: absolute;
    right: -80px;
  }
}

