<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 home-topo header bg bg-default">
            <div class="col-lg-9 col-md-9 mx-auto">
                <div class="topo-1">
                    <h1 class="titulo-destaque" style="letter-spacing: 3px;">Simples, Confiável e Direto</h1>
                    <h4 class="desktop txt-descricao"> Seguro sem complicações </h4>
                </div>
                <div class="row">
                    <div class="col-md-12 cotacao mobile">
                        <a class="btn btn-cotacao v2 mt-4" data-toggle="modal" data-target="#exampleModal0"> Fazer uma cotação
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-2 mt-3 mx-auto card-elipse desktop" href="javascript:void(0)"
                        [routerLink]="['/produtos-voce']" routerLinkActive="active">
                        <div class="elipse">
                            <div class="icon-elipse v2">
                                <img src="./assets/icons/smartphone.svg" alt="smartphone">
                            </div>
                        </div>
                        <p class="txt-elipse">Celular</p>
                    </div>
                    <div class="col-lg-2 col-md-2 mt-3 mx-auto card-elipse desktop" href="javascript:void(0)"
                        [routerLink]="['/produtos-empresa/empresa-um']" routerLinkActive="active">
                        <div class="elipse">
                            <div class="icon-elipse">
                                <img src="./assets/icons/icone-acidentes-pessoais.svg" alt="acidentes-pessoais">
                            </div>
                        </div>
                        <p class="txt-elipse">Acidentes Pessoais</p>
                    </div>
                    <div class="col-lg-2 col-md-2 mt-3 mx-auto  card-elipse desktop" href="javascript:void(0)"
                        [routerLink]="['/bagagem']" routerLinkActive="active">
                        <div class="elipse">
                            <div class="icon-elipse v2">
                                <img src="./assets/icons/icone-bagagem.svg" alt="bagagem">
                            </div>
                        </div>
                        <p class="txt-elipse">Bagagem</p>
                    </div>
                    <div class="col-lg-2 col-md-2 mt-3 mx-auto card-elipse  desktop" href="javascript:void(0)"
                        [routerLink]="['/assistencia-automovel']" routerLinkActive="active">
                        <div class="elipse">
                            <div class="icon-elipse v1">
                                <img src="./assets/icons/icone-assistencia-automovel.svg" alt="assistencia-automovel">
                            </div>
                        </div>
                        <p class="txt-elipse">Assistência Automóvel</p>
                    </div>
                    <div class="col-lg-2 col-md-2 mt-3  mx-auto card-elipse  desktop" href="javascript:void(0)"
                        [routerLink]="['/automovel-franquia']" routerLinkActive="active">
                        <div class="elipse">
                            <div class="icon-elipse">
                                <img src="./assets/icons/icone-automovel-franquia.svg" alt="assistencia-automovel">
                            </div>
                        </div>
                        <p class="txt-elipse">Automóvel Franquia</p>
                    </div>
                    <div class="col-lg-2 col-md-2 mt-3 mx-auto card-elipse desktop" href="javascript:void(0)"
                        [routerLink]="['/impedimento-ao-trabalho']" routerLinkActive="active">
                        <div class="elipse">
                            <div class="icon-elipse">
                                <img src="./assets/icons/icone-impedimento-ao-trabalho.svg" alt="impedimento-trabalho">
                            </div>
                        </div>
                        <p class="txt-elipse">Impedimento ao trabalho</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 bg video"
        style="background-image: url('./assets/background/bg-gray.svg');">
            <div class="col-lg-9 col-md-9 mx-auto text-center">
                <h2>Parcerias de mobilidade</h2>
                <iframe src="https://www.youtube.com/embed/Dx8t8FkB6fU" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <div class="paragrafo">
                    <p class="txt-destaque">Parceria Vá de Taxi e 88i - Motoristas Protegidos.</p>
                    <!-- <p class="txt-destaque v1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 video">
            <div class="col-lg-9 col-md-9 mx-auto text-center">
                <h2>tornamos o seguro o mais simples possível</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 text-center paragrafo v1 info-mob">
                    <div class="elipse v1">
                        <div class="icon-elipse v2">
                            <img src="./assets/icons/icon-1.svg" alt="time">
                        </div>
                    </div>
                    <p class="txt-destaque v6">
                        Em poucos cliques você está segurado.
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 text-center paragrafo v1 info-mob">
                    <div class="elipse v1">
                        <div class="icon-elipse v2">
                            <img src="./assets/icons/icon-2.svg" alt="laptop">
                        </div>
                    </div>
                    <p class="txt-destaque v6">
                        Desde a contratação à indenização o processo é totalmente digital, sem burocracia.
                    </p>
                </div>
                <div class="col-lg-3 col-md-3  text-center paragrafo v1 info-mob">
                    <div class="elipse v1 ">
                        <div class="icon-elipse v2">
                            <img src="./assets/icons/icon-3.svg" alt="insight">
                        </div>
                    </div>
                    <p class="txt-destaque v6">
                        Linguagem simples e sem letras pequenas, para que você saiba o que está comprando.
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 text-center paragrafo v1 info-mob">
                    <div class="elipse v1">
                        <div class="icon-elipse v2">
                            <img src="./assets/icons/icon-4.svg" alt="payment">
                        </div>
                    </div>
                    <p class="txt-destaque v6">
                        Seguro mais acessível do mercado.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 home-premios bg v1 video">
            <div class="col-lg-9 col-md-9 mx-auto text-center">
                <div class="topo v1">
                    <h2 class="mt-5">não queremos nos gabar, mas</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-md-10 mx-auto text-center paragrafo v1 premios desktop">
                    <app-premios></app-premios>
                </div>
                <div class="col-lg-10 col-md-10 mx-auto text-center premios mobile">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="premiosConfig"
                        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
                        <div ngxSlickItem *ngFor="let premios of premio; let idx = index" class="slide"
                            (click)="clicouNoSlide(premio)">
                            <div class="premio-img">
                                <img [src]="premios.image" alt="premio">
                            </div>
                            <div class="txt-destaque v2">
                                <p class="descricao">{{ premios.description }}</p>
                                <p class="data">{{ premios.date }}</p>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 video  text-center medias">
            <div class="col-lg-9 col-md-9 mx-auto">
                <div class="row paragrafo v2">
                </div>
                <h2 class="clientes">aqui está o que os clientes estão dizendo sobre nós</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 mx-auto card-info desktop" *ngFor="let medias of media;">
                    <div class="topo-card">
                        <img [src]="medias.image" alt="">
                        <img [src]="medias.image" alt="">
                        <img [src]="medias.image" alt="">
                        <img [src]="medias.image" alt="">
                        <img [src]="medias.image" alt="">
                    </div>
                    <div class=" paragrafo v3">
                        <p>
                            {{ medias.title }}
                        </p>
                        <p class="txt-destaque">
                            {{ medias.description }}
                        </p>
                        <a class="text-left">
                            {{ medias.name }} -
                            {{ medias.date }}
                        </a>
                    </div>
                </div>
                <div class="col-md-12 mx-auto mobile">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="mediaConfig"
                        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
                        <div ngxSlickItem *ngFor="let medias of media; let idx = index" class="slide"
                            (click)="clicouNoSlide(medias)">
                            <div class="topo-card">
                                <img [src]="medias.image" alt="">
                                <img [src]="medias.image" alt="">
                                <img [src]="medias.image" alt="">
                                <img [src]="medias.image" alt="">
                                <img [src]="medias.image" alt="">
                            </div>
                            <div class=" paragrafo v3">
                                <p>
                                    {{ medias.title }}
                                </p>
                                <p class="txt-destaque">
                                    {{ medias.description }}
                                </p>
                                <a class="text-left">
                                    {{ medias.name }} -
                                    {{ medias.date }}
                                </a>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
            <!-- <div class="paragrafo">
                <p class="txt-destaque">fomos classificados em média <a style="color: #F69F00;"> 4,6 / 5 </a>em <a
                        style="color: #F69F00;">18646</a> de nossos clientes</p>
            </div> -->

        </div>
    </div>
</div>

