<div class="row">
    <div class="col-lg-10 col-md-10 card-info v1 mx-auto text-center">
        <div class=" paragrafo">
            <p>
                Faça login no Portal do funcionário para obter uma reivindicação on-line rápida e fácil
            </p>
            <p class="txt-destaque ">
                Faça uma reivindicação em minutos com seu perfil salvo.
            </p>
            <a class="btn btn-cotacao"> 
                Assinar em
            </a>
        </div>
    </div>
</div>