@import 'variables';
@import 'components'; 
@import 'helpers';

.paragrafo {
    @include media-breakpoint-down(md) {
        padding: 2% 5%;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}
}

.btn-cotacao {
    left: 0;
}