<div class="row">
    <div class="col-lg-9 col-md-9 mx-auto text-center">
        <h2 class="titulo-produto">Roubo e Furto Qualificado</h2>
        <div class="paragrafo">
            <p class="txt-destaque"> 
                <a>Furto -</a> Ladrão toma seu equipamento sem estabelecer contato<br/>
               <a>Roubo -</a>  ladrão toma seu equipamento e há contato, violência ou ameaça.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-11 col-md-11 mx-auto linha">
        <div class="row">
            <div class="col-lg-1 col-4">
                <img src="./assets/icons/arma.svg" alt="">
            </div>
            <div class="col-lg-3 col-4">
                <p class="txt-destaque v4 txt-info">
                    Roubo
                </p>
            </div>
            <div class="col-lg-7 col-12 ">
                <p class="txt-destaque txt-info t1">
                    Cobertura de roubo. Caracterizado quando a pessoa sofre ameaça física, verbal ou mediante
                    uso de força bruta, como por exemplo: assalto com faca, canivete ou arma de fogo.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-11 col-md-11 mx-auto linha">
        <div class="row">
            <div class="col-lg-1 col-4">
                <img src="./assets/icons/furto.svg" alt="">
            </div>
            <div class="col-lg-3 col-4">
                <p class="txt-destaque v4 txt-info">
                    Furto Qualificado
                </p>
            </div>
            <div class="col-lg-7 col-12">
                <p class="txt-destaque txt-info t1">
                    Ocorre quando a pessoa não sofre nenhum tipo de ameaça e se depara que foi roubado
                    quando se depara com vestígios do crime (arrombamento de armários e gavetas, rasgo na bolsa).
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-11 col-md-11 mx-auto linha v1">
        <div class="row">
            <div class="col-lg-1 col-4">
                <img src="./assets/icons/celular.svg" alt="">
            </div>
            <div class="col-lg-3 col-6">
                <p class="txt-destaque v4 txt-info">
                    Celular Reserva
                </p>
            </div>
            <div class="col-lg-7 col-12">
                <p class="txt-destaque txt-info t1">
                    (Em São Paulo, Capital – Celular Reserva com parceiros Mobilidade)
                </p>
            </div>
        </div>
    </div>
</div>