@import 'variables';
@import 'components';
@import 'helpers';


.card-info {
    border-radius: 8px;
}

.btn-cotacao {
    &.vi {
        padding: 10px 70px;
        left: 0;
    }
    &.vo {
        padding: 10px 20px;
        @include media-breakpoint-down(md) {
            left: 50px;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            left: 40%;
        }        
    }
    &.vv {
        padding: 10px 70px;
        font-weight: bold;
        left: 0;
        color: $theme-color-4;
        background-color: $theme-color-2;
    }
}

select {
    width: 50%;
    border: none;
    border-bottom: 1px solid $theme-color-1;    
    @include media-breakpoint-down(md) {
        font-size: 1.0em;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        font-size: 1.3em;
    }

    option {
        @include media-breakpoint-down(md) {
            font-size: 0.7em;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {}
        
    }
}

.assunto {
    padding: 3% 0;
}

.elipse-line-one {
    @include media-breakpoint-down(md) {
        width: 80%;
        left: 20%;
    }
    @include media-breakpoint-up(md) {} 
    @include media-breakpoint-up(lg) {
        left: 30%;
    }
    
}
.elipse-line {
    @include media-breakpoint-down(md) {
        width: 80%;
        left: 20%;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        left: 30%;
    }
}

.step {
    height: 78vh;
}

.txt-login {
    font-size: 1.3em;
    @include media-breakpoint-down(md) {
        padding: 0;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        padding: 0 70px;
    }
}
.txt-login-desc{
    padding: 0 30px;
}

.cabecalho {
    padding: 130px 50px;
    @include media-breakpoint-down(md) {
        padding: 0;
    }
}