<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 cabecalho bg" style="background-image: url('./assets/background/ouvidoria-para-voce.png'); ">
            <div class="col-lg-9 col-md-9 mx-auto">
                <div class="topo v3 text-center">
                    <h1 class="titulo-destaque">Rápido. Simples. Confiável.</h1>
                    <h4 class="txt-descricao">Simplicidade no aviso de sinistros para facilitar as situações estressantes</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 video  text-center">
            <div class="col-lg-11 col-md-11 mx-auto">
                <h2>Informe do seu jeito</h2>
                <div class="row">
                    <div class="col-lg-5 col-md-12 mx-auto card-info">
                        <div class=" paragrafo v3">
                            <p class="txt-login">
                                <!-- Faça login para acessar
                                nossos serviços Online -->
                                Entre em contato através do nosso chat
                            </p>
                            <p class="txt-destaque txt-login-desc">
                                Faça uma reinvindicação em minutos com seu perfil salvo
                            </p>
                            <a class="btn btn-cotacao vi">
                                Entrar
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12 mx-auto card-info">
                        <div class=" paragrafo v3">
                            <p class="txt-login">
                                <!-- Ainda não tem uma conta? -->
                                Entre em contato através do nosso WhatsApp.
                            </p>
                            <p class="txt-destaque">
                                Você ainda pode fazer reinvindicações online.
                            </p>
                            <a class="btn btn-cotacao vv">
                                Clique aqui para iniciar
                            </a>
                        </div>
                    </div>
                </div>
                <div class="paragrafo">
                    <p class="txt-destaque">Como alternativa, você também pode entrar em contato conosco pelo e-mail contato@88i.io ou ligar para +55(11)97803-8881</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <img class="img-linha" src="./assets/background/linha.png" alt="">
            </div>
            <div class="row">
                <div class="col-lg-9 col-md-9 mx-auto text-center">
                    <h2>Procurando uma oficina ou atendimento médico próximo a você?</h2>
                    <div class="paragrafo">
                        <p class="txt-destaque">Se você estiver procurando por uma oficina para o seu carro ou moto, ou uma instalação médica, basta clicar no localizador</p>
                    </div>
                    <a class="btn btn-cotacao vi">
                        Vá para o localizador
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <img class="img-linha" src="./assets/background/linha.png" alt="">
            </div>
            <div class="row">
                <div class="col-lg-9 col-md-9 mx-auto text-center step">
                    <h2>consulte os guias de reivindicação passo a passo para:</h2>
                    <div class="row elipse-line-one">
                        <div class="col-lg-1 col-md-1 elipse"></div>
                        <div class="col-lg-1 col-md-1 elipse v4"></div>
                        <div class="col-lg-1 col-md-1 elipse v4 vv"></div>
                        <div class="col-lg-1 col-md-1 elipse v4 vo"></div>
                    </div>
                    <div class="row elipse-line">
                        <div class="col-lg-1 col-md-1 elipse"></div>
                        <div class="col-lg-1 col-md-1 elipse v4"></div>
                        <div class="col-lg-1 col-md-1 elipse v4 vv"></div>
                        <div class="col-lg-1 col-md-1 elipse v4 vo"></div>
                    </div>
                    <div class="row elipse-line vv">
                        <div class="col-lg-1 col-md-1 elipse"></div>
                        <div class="col-lg-1 col-md-1 elipse v4"></div>
                        <div class="col-lg-1 col-md-1 elipse v4 vv"></div>
                        <div class="col-lg-1 col-md-1 elipse v4 vo"></div>
                    </div>
                    <div class="row elipse-line vo">
                        <div class="col-lg-1 col-md-1 elipse"></div>
                        <div class="col-lg-1 col-md-1 elipse v4"></div>
                        <div class="col-lg-1 col-md-1 elipse v4 vv"></div>
                        <div class="col-lg-1 col-md-1 elipse v4 vo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
            <div class="row">
                <img class="img-linha" src="./assets/background/linha.png" alt="">
            </div>
            <div class="row assunto">
                <div class="col-lg-9 col-md-9 mx-auto text-center">
                    <h2>Faq</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col-lg-4 col-md-4 m-auto">
                    <div class="row">
                        <form action="#">
                            <select name="assunto" id="assunto">
                                <option value="" disabled>Assunto</option>
                                <option value="opc1">Lorem ipsum</option>
                                <option value="opc2">Lorem ipsum</option>
                                <option value="opc3">Lorem ipsum</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 topo v1 text-center">
            <div class="row">
                <div class="col-lg-11 col-md-11 mx-auto" *ngFor="let perguntas of pergunta;">
                     <mat-accordion class="custom">
                         <mat-expansion-panel hideToggle>
                             <mat-expansion-panel-header>
                                 <mat-panel-title>
                                         <a href="javascript:void(0)">
                                             <p class="txt-destaque v4">
                                                {{ perguntas.quest }}
                                                <img [src]="perguntas.image" alt="">
                                             </p>
                                         </a>
                                 </mat-panel-title>
                             </mat-expansion-panel-header>
                             <mat-panel-description>
                             <p>{{ perguntas.resp }}</p>
                             </mat-panel-description>
                         </mat-expansion-panel>
                     </mat-accordion>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto">

            <div class="row">
                <a class="btn btn-cotacao vo" href="javascript:void(0)" [routerLink]="['/faq']" routerLinkActive="active">
                    Ver todas as perguntas frequentes
                </a>
            </div>
        </div>
    </div>
</div> -->
