@import 'variables';
@import 'components';
@import 'helpers';

.card-descricao {
    @include media-breakpoint-down(md) {
        padding: 0;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        padding: 2% 14%;
    } 
}

.vagas {
    @include media-breakpoint-down(md) {
        // background-image: url(../../../assets/background/infos-mobile.png);
        background-image: none;
        background-color: $theme-color-5;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {        
        // background-image: url(../../../assets/background/infos.png);
    }
}
.btn-cotacao {
    left: 0;
}