<!-- 
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 bg v1 video">
            <div class="col-lg-9 col-md-9 mx-auto text-center">
                <div class="topo vv">
                    <h2>Diferenciais</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 mx-auto text-center paragrafo v1">
                        <div class="elipse v1"></div>
                        <p class="txt-destaque ">
                            Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Fusce
                            quam lacus, euismod at felis id,
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4 mx-auto text-center paragrafo v1">
                        <div class="elipse v1"></div>
                        <p class="txt-destaque">
                            Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Fusce
                            quam lacus, euismod at felis id,
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4 mx-auto text-center paragrafo v1">
                        <div class="elipse v1"></div>
                        <p class="txt-destaque">
                            Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Fusce
                            quam lacus, euismod at felis id,
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-11 col-md-11 mx-auto text-center">
                    <div class="card-descricao txt-destaque">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis auctor ante ac blandit.
                        Curabitur sed fermentum risus, eu tempor lacus. Aliquam a nibh commodo, consequat ante vitae, tempor
                        quam. In hac habitasse platea dictumst. Nulla facilisi. Donec in maximus ex, sed mollis sapien.
                        Suspendisse condimentum risus sed libero feugiat, nec consectetur erat ornare. Nunc tortor augue,
                        pharetra ut velit vel, finibus gravida ipsum. Nulla vel tempus sem. Phasellus efficitur nunc a faucibus
                        accumsan. Duis ullamcorper felis sit amet sollicitudin consectetur.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <img class="img-linha" src="./assets/background/linha.png" alt="">
            </div>
            <div class="row">
                <div class="col-lg-11 col-md-11 mx-auto text-center">
                    <h2 class="txt-destaque v4 text-center">Como é trabalhar na 88i</h2>
                    <div class="card-descricao txt-destaque">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis auctor ante ac blandit.
                        Curabitur sed fermentum risus, eu tempor lacus. Aliquam a nibh commodo, consequat ante vitae, tempor
                        quam. In hac habitasse platea dictumst. Nulla facilisi. Donec in maximus ex, sed mollis sapien.
                        Suspendisse condimentum risus sed libero feugiat, nec consectetur erat ornare. Nunc tortor augue,
                        pharetra ut velit vel, finibus gravida ipsum. Nulla vel tempus sem. Phasellus efficitur nunc a faucibus
                        accumsan. Duis ullamcorper felis sit amet sollicitudin consectetur.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 vagas bg" style="background-image: url('./assets/background/infos.png');">
            <div class="row">
                <div class="col-lg-9 col-md-9 mx-auto text-center topo v1 vv">
                    <h2>Vagas</h2>
                    <div class="paragrafo">
                        <p class="card-descricao txt-destaque">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis auctor ante ac blandit.
                            Curabitur sed fermentum risus, eu tempor lacus. Aliquam a nibh commodo, consequat ante vitae, tempor
                            quam. In hac habitasse platea dictumst. Nulla facilisi. Donec in maximus ex, sed mollis sapien. 
                        </p>
                    </div>
                    <a class="btn btn-cotacao"> 
                        Call to Action
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-11 col-md-11 mx-auto text-center">
        <h2 class="txt-destaque v4 text-center">Fale Conosco</h2>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 bg">
            <div class="row">
                <div class="col-lg-4 col-md-4 mx-auto text-center">
                    <div class="row">
                        <div class="col-lg-6 div col-md-3 card-destaque v1">
                            <img src="./assets/icons/telefone.png" alt="telefone">
                            <p class="txt-destaque v1">Ligue para nós</p>
                            <p class="txt-destaque">(11) 0000-0000</p>
                        </div>
                        <div class="col-lg-6 div col-md-3 card-destaque v1">
                            <img class="envelope" src="./assets/icons/envelope-preto.png" alt="email">
                            <p class="txt-destaque v1">Envie um email</p>
                            <p class="txt-destaque">contato@88i.com.br</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->