<div class="row">
  <div class="col-12 mx-auto text-center">
<div class="visita txt-destaque">
    <p>88 InsurTech Serviços Digitais e Intermediação Ltda.</p>
    <ul>
        <li><a>Nosso Endereço:</a> Avenida Angélica, 2529 1º andar, Ed. Inovabra Habitat - São Paulo SP Brasil.</li>
        <li><a>Expediente:</a> Segunda à Sexta feira: 9am – 6pm (Exceto feriados públicos)</li>
        <li><a>E-mail:</a> suporte@88i.io | <a>Telefone de contato / WhatsApp:</a> (11) 97803-8881 | <a>CNPJ:</a> 29.846.286/0001-02</li>
        
    </ul>
</div>

  <div class="maps text-center mx-auto">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.397539391634!2d-46.66441658502234!3d-23.55416168468641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce582dc6b93b57%3A0x410700cc6a1d872f!2sAv.%20Ang%C3%A9lica%2C%202529%20-%20Bela%20Vista%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2001227-200!5e0!3m2!1spt-BR!2sbr!4v1583346232056!5m2!1spt-BR!2sbr" width="1330" height="250"  frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>

  </div>
</div>
