<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 help-topo bg">
            <div class="col-lg-9 col-md-9 mx-auto">
                <div class="topo text-uppercase">
                    <h1 class="titulo-ajuda">Faq</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col-lg-4 col-md-4 m-auto content-help">
                    <div class="row">
                        <form action="#">
                            <select name="assunto" id="assunto">
                                <option value="" disabled>Assunto</option>
                                <option value="opc1">Lorem ipsum</option>
                                <option value="opc2">Lorem ipsum</option>
                                <option value="opc3">Lorem ipsum</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
            <div class="row">
                <div class="col-lg-11 col-md-11 mx-auto mt-2" *ngFor="let perguntas of pergunta;">
                     <mat-accordion class="custom">
                         <mat-expansion-panel hideToggle>
                             <mat-expansion-panel-header>
                                 <mat-panel-title>
                                         <a href="javascript:void(0)">
                                             <p class="txt-destaque v4">
                                                {{ perguntas.quest }}
                                                <img [src]="perguntas.image" alt="">
                                             </p>
                                         </a>
                                 </mat-panel-title>
                             </mat-expansion-panel-header>
                             <mat-panel-description>
                             <p>{{ perguntas.resp }}</p>
                             </mat-panel-description>
                         </mat-expansion-panel>
                     </mat-accordion>
                </div>
            </div>
        </div>
    </div>
</div>