@import 'variables';
@import 'components'; 
@import 'helpers';
@import 'material-ajusts';

select {    
    border: none;
    @include media-breakpoint-down(md) {
        background-color: transparent;
        width: 300%;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        border-bottom: 1px solid $theme-color-1;
        width: 400%;
    }  
}


.txt-destaque {
    &.v4 {
        @media only screen and (min-width: 1680px) {
            font-size: 22px;
        }
    }
    img {
        position: absolute;
        float: right;
        right: 15px;
        top: -15px;
    }
}

.container-fluid {
    overflow: hidden;
}

p {
    @media only screen and (min-width: 1680px) {
        font-size: 22px;
    }
}