<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 footer bg">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <p>Produtos</p>
                    <nav>
                        <!-- <a href="javascript:void(0)" [routerLink]="['/produtos-voce']" routerLinkActive="active"><li>Para você</li></a>
                        <a href="javascript:void(0)" [routerLink]="['/produtos-empresa']" routerLinkActive="active"><li>Para sua empresa</li></a> -->
                        <a href="javascript:void(0)" [routerLink]="['//produtos-voce']" routerLinkActive="active"><li >Celular</li></a>
                        <a href="javascript:void(0)" [routerLink]="['/produtos-empresa']" routerLinkActive="active"><li>Vida/Acidentes Pessoais</li></a>
                        <a href="javascript:void(0)" [routerLink]="['/bagagem']" routerLinkActive="active"><li>Bagagem</li></a>
                        <a href="javascript:void(0)" [routerLink]="['/assistencia-automovel']" routerLinkActive="active"><li>Assistência Automóvel</li></a>
                        <a href="javascript:void(0)" [routerLink]="['/automovel-franquia']" routerLinkActive="active"><li>Automóvel Franquia</li></a>
                        <a href="javascript:void(0)" [routerLink]="['/impedimento-ao-trabalho']" routerLinkActive="active"><li>Impedimento ao Trabalho</li></a>
                    </nav>
                </div>
                <div class="col-lg-2 col-md-2">
                    <p>Sinistros</p>
                    <nav>
                        <a href="javascript:void(0)" [routerLink]="['/ouvidoria-voce']" routerLinkActive="active"><li>Informe seu Sinistro</li></a>
                    </nav>
                </div>
                <div class="col-lg-2 col-md-2">
                    <p>Ajuda</p>
                    <nav>
                        <a href="javascript:void(0)" [routerLink]="['/formulario']" routerLinkActive="active"><li>Formulários</li></a>
                        <a href="javascript:void(0)" [routerLink]="['/faq']" routerLinkActive="active"><li>Perguntas Frequentes</li></a>
                        <a href="javascript:void(0)" [routerLink]="['/contato']" routerLinkActive="active"><li>Entre Em Contato</li></a>
                        <!-- <a href="javascript:void(0)" [routerLink]="['/localizador']" routerLinkActive="active"><li>Localizador</li></a> -->
                    </nav>
                </div>
                <div class="col-lg-2 col-md-2">
                    <p>Sobre a 88i</p>
                    <nav>
                        <a href="javascript:void(0)" [routerLink]="['/sobre']" routerLinkActive="active"><li>Sobre Nós</li></a>
                        <a href="javascript:void(0)" [routerLink]="['/sobre/nosso-time']" routerLinkActive="active"><li>Nosso Time</li></a>
                        <a href="javascript:void(0)" [routerLink]="['/sobre/trabalhe-conosco']" routerLinkActive="active"><li>Faça Parte</li></a>
                        <a href="javascript:void(0)" [routerLink]="['/sobre/midias']" routerLinkActive="active"><li>Meios de Comunicação</li></a>
                    </nav>
                    <div class="row">
                        <div class="col-lg-12 col-md-5 txt-footer">
                            <p>Blog</p>
                            <nav>
                                <a href="javascript:void(0)" [routerLink]="['/blog']" routerLinkActive="active"><li>Ver Blog</li></a>
                            </nav>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-5 txt-footer">
                            <p>Promoções</p>
                            <nav>
                                <a href="javascript:void(0)" [routerLink]="['/promocoes']" routerLinkActive="active"><li>Ver Promoções</li></a>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-10 card-footer">
                    <a class="btn btn-cotacao v2"  data-toggle="modal" data-target="#exampleModal0"> Fazer uma cotação </a>
                    <a href="tel:97803-8881"><img src="./assets/icons/elipse.png" alt=""></a>
                </div>
            </div>
            <div class="row linha-footer">
                <div class="col-lg-4 col-md-12">
                   <p>88 InsurTech Serviços Digitais Ltda.</p>
                   <p>
                       <img src="./assets/icons/localizacao-amarela.svg" alt="">
                       Av. Angélica, 2529, 1º Andar
                    </p>
                </div>
                <div class="col-lg-2  col-md-12">
                    <p>
                        <img src="./assets/icons/whatsapp-amarelo.svg" alt="">
                        +55 11 978038881
                    </p>
                    <p>88i.io</p>
                </div>
                <div class="col-lg-6  col-md-12 redes">
                    <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5511978038881">
                        <img src="./assets/icons/whatsapp.svg" style="border-radius: 12px;" alt="whatsapp">
                    </a>
                    <a href="https://www.instagram.com/88_insurtech/">
                        <img src="./assets/icons/instagram.svg" alt="instagram">
                    </a>
                    <a href="https://www.linkedin.com/company/88-insurtech/?viewAsMember=true">
                        <img src="./assets/icons/linkedin.svg" alt="linkedin">
                    </a>
                    <a href="https://www.facebook.com/88Insurtech.io/">
                        <img src="./assets/icons/facebook.svg" alt="facebook">
                    </a>
                    <a href="https://twitter.com/88insurtech">
                        <img src="./assets/icons/twitter.svg" alt="twitter">
                    </a>
                    <a href="https://github.com/88insurtech/ethereum">
                        <img src="./assets/icons/github.svg" alt="github">
                    </a>
                    <a href="https://open.spotify.com/playlist/0oIkK6Y3icfFnBqwm3SWX2">
                        <img src="./assets/icons/spotify.svg" alt="spotify">
                    </a>
                    <a href="https://www.youtube.com/channel/UC2AZZ_loumdrNsKz5jypBzQ">
                        <img src="./assets/icons/youtube.svg" alt="youtube">
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=io.insurtech88i">
                        <img src="./assets/icons/google_play.svg" alt="google_play">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>&copy; 2020 88 InsurTech Serviços Digitais Ltda.</p>
                </div>
            </div>
        </div>
    </div>
</div>


