@import 'variables';
@import 'components';
@import 'helpers';

.footer {
    
    
    @include media-breakpoint-down(md) {
        background-color: $theme-color-1;
        background-image: none;
        padding: 50px 20px 150px 20px;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {        
        background-image: url(../../../assets/background/bg-preto.svg);
        padding: 10% 5% 2% 5%;
    }

    p {
        color: $theme-color-2;
        font-weight: bold;
        @include media-breakpoint-down(md) {
            // font-size: 1.7em;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {}
    }

    .txt-footer{
        
        @include media-breakpoint-down(md) {
            padding: 0 0 0 5%;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            padding: 7% 0 5% 8%;
        }
    }

    .card-footer {
        @include media-breakpoint-down(md) {
            position: relative;
            top: 20px;
            left: -11%;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {            
            padding: 0  0 0 5%;
        }

        img {
            position: relative;
            @include media-breakpoint-down(md) {
                width: 13%;
                bottom: 150px;
                left: 300px;
                position: fixed; 
            }
            @include media-breakpoint-up(md) {}
            @include media-breakpoint-up(lg) {
                width: 10%;
                left: 24%;
            }
        }
        .btn-cotacao {
            img {
                width: 15%;
                position: relative;
                left: -5%;
            }
            &.v3 {
                @include media-breakpoint-down(md) {
                    padding: 2% 13%;
                }
                @include media-breakpoint-up(md) {}
                @include media-breakpoint-up(lg) {}             
        }
    }
}

    nav { 
        a {
            text-decoration: none;
            color: $theme-color-3;
            @include media-breakpoint-down(md) {
                font-size: 1.2em;
            }
            @include media-breakpoint-up(md) {}
            @include media-breakpoint-up(lg) {}
            &:hover {
                color: $theme-color-5;
                font-weight: bold;
            }
        }
        li {
            display: block;       
            padding: 2% 0;
        }
    }
}
.linha-footer {
    padding: 50px 0;
    &::after {
        content: '';
        position: relative;
        top: -110px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $theme-color-2;
    }
    p {
        font-weight: normal;
    }
}
.redes {
    img {
        cursor: pointer;
        margin-left: 6px;
    }
}
