<div class="row">
    <div class="col-lg-11 col-md-11 mx-auto formularios">
        <div class="row formulario">
            <div class="col-lg-2 col-md-2 img-form">
                <img src="./assets/icons/formulario.png" alt="formulario">
            </div>
            <div class="col-lg-6 col-md-6 txt-form">
                <p class="txt-destaque">Formulário 1:  Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="row formulario">
            <div class="col-lg-2 col-md-2 img-form">
                <img src="./assets/icons/formulario.png" alt="formulario">
            </div>
            <div class="col-lg-6 col-md-6 txt-form">
                <p class="txt-destaque">Formulário 2:  Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="row formulario">
            <div class="col-lg-2 col-md-2 img-form">
                <img src="./assets/icons/formulario.png" alt="formulario">
            </div>
            <div class="col-lg-6 col-md-6 txt-form">
                <p class="txt-destaque">Formulário 3:  Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="row formulario">
            <div class="col-lg-2 col-md-2 img-form">
                <img src="./assets/icons/formulario.png" alt="formulario">
            </div>
            <div class="col-lg-6 col-md-6 txt-form">
                <p class="txt-destaque">Formulário 4:  Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="row formulario">
            <div class="col-lg-2 col-md-2 img-form">
                <img src="./assets/icons/formulario.png" alt="formulario">
            </div>
            <div class="col-lg-6 col-md-6 txt-form">
                <p class="txt-destaque">Formulário 5:  Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="row formulario">
            <div class="col-lg-2 col-md-2 img-form">
                <img src="./assets/icons/formulario.png" alt="formulario">
            </div>
            <div class="col-lg-6 col-md-6 txt-form">
                <p class="txt-destaque">Formulário 6:  Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
</div>