
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$oito-oito-i-primary: mat-palette($mat-indigo);
$oito-oito-i-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$oito-oito-i-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$oito-oito-i-theme: mat-light-theme($oito-oito-i-primary, $oito-oito-i-accent, $oito-oito-i-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($oito-oito-i-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Avenir-Medium, Roboto, "Helvetica Neue", sans-serif; }

@import "variables";
@import "components";
@import "helpers";


@font-face {
  font-family: 'Avenir-Medium';
  src: url('./assets/fonts/medium/Avenir-Medium.eot');
  src: url('./assets/fonts/medium/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/medium/Avenir-Medium.svg#Avenir-Medium') format('svg'),
       url('./assets/fonts/medium/Avenir-Medium.ttf') format('truetype'),
       url('./assets/fonts/medium/Avenir-Medium.woff') format('woff'),
       url('./assets/fonts/medium/Avenir-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Heavy';
  src: url('./assets/fonts/heavy/Avenir-Heavy.eot');
  src: url('./assets/fonts/heavy/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/heavy/Avenir-Heavy.svg#Avenir-Heavy') format('svg'),
       url('./assets/fonts/heavy/Avenir-Heavy.ttf') format('truetype'),
       url('./assets/fonts/heavy/Avenir-Heavy.woff') format('woff'),
       url('./assets/fonts/heavy/Avenir-Heavy.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Black';
  src: url('./assets/fonts/black/Avenir-Black.eot');
  src: url('./assets/fonts/black/Avenir-Black.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/black/Avenir-Black.svg#Avenir-Black') format('svg'),
       url('./assets/fonts/black/Avenir-Black.ttf') format('truetype'),
       url('./assets/fonts/black/Avenir-Black.woff') format('woff'),
       url('./assets/fonts/black/Avenir-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


h1{
  font-family: Avenir-Black !important;

}

h2 {
  font-family: Avenir-Black;

}

h6{
  font-family: Avenir-Heavy;

}

p, span, li, div{
  font-family: Avenir-Medium ;

}

.cc-form{
  right: 45%;
    position: relative;
}

.cc-form__button{
  background-color: $theme-color-4 !important;
  color: $theme-color-2 !important;
  padding: 3% 2% !important;
  margin-top: 10px;

  font-family: Avenir-Heavy !important;
  border-radius: 15px !important;


  &:hover{
    color: $theme-color-4 !important;
    border: 1px solid $theme-color-4 !important;
    background-color: transparent !important;

  }
}
