@import "variables";
@import "components";
@import "helpers";


.txt-destaque {
    &.v2 {
        @include media-breakpoint-up(lg) {
            padding: 0 30px;
        }
    }
}

.slick-slide {
    img {
        @include media-breakpoint-up(lg) {
           position: relative;  
           left: 110px;
        }
        @media only screen and (min-width: 1600px) {
            left: 150px;
        } 
        @media only screen and (min-width: 2560px) {
            left: 270px;
        }
    }
}