<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="premioConfig"
    (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)">
    <div ngxSlickItem *ngFor="let premios of premio; let idx = index" class="slide"
        (click)="clicouNoSlide(premio)">
        <div class="premio-img">
            <img [src]="premios.image" alt="premio">
        </div>
        <div class="txt-destaque v2">
            <p class="descricao">{{ premios.description }}</p>
            <p class="data">{{ premios.date }}</p>
        </div>
    </div>
</ngx-slick-carousel>
<div class="setas">
    <a (click)="slickModal.slickPrev()" >
        <img class="seta-um" src="./assets/icons/arrow-left-white.svg" alt="">
    </a>
    <a (click)="slickModal.slickNext()">
        <img class="seta-dois" src="./assets/icons/arrow-right-white.svg" alt="">
    </a>
</div> 