@import "variables";
@import "components";
@import "helpers";
@import "material-ajusts";

.header {
  padding: 2% 0 3% 0;
}

.topo {
  &.v1 {
    padding: 40px 0;
    @include media-breakpoint-down(md) {
      padding: 40px 20px;
    }
  }
  h2 {
    padding: 0 32%;
    color: $theme-color-10;
    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }
  p {
    font-size: 1.2em;
  }
}

input,
select {
  border: 1px solid $theme-color-1;
  margin-top: 2%;
  &::placeholder {
    color: $theme-color-1;
  }
  option {
    color: $theme-color-1;
  }
}

.txt-destaque {
  &.v4 {
    font-weight: bold;
    &.vo {
      font-size: 1.9em;
    }
  }
}
.plano {
  padding: 5% 0;
  @include media-breakpoint-down(md) {
    padding: 20px 5px;
  }
}

.card-planos {
  @include media-breakpoint-down(md) {
    width: 50%;
  }
  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(lg) {
  }
}
.card-plano {
  padding: 7% 9%;
}
.card {
  box-shadow: 5px 5px 5px #a7a5a5, 6px 9px 50px #a7a5a5;

  .item-planos {
    text-align: center;
    @include media-breakpoint-down(md) {
      width: 33%;
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
    img {
      width: 80%;
      &.lqd {
        width: 60%;
      }
    }
    p {
      font-size: 0.7em;
      padding: 2% 0;
    }
    .txt-planos {
      color: $theme-color-3;
    }
  }
  .titulo-planos {
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  .valor-planos {
    font-size: 1.5em;
  }
  .mes-planos {
    font-size: 0.7em;
  }
  .btn-cotacao {
    left: 0;
    padding: 10px;
    color: $theme-color-1;
    font-weight: bold;
  }
}
