<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 header bg"
            style="background-image: url('./assets/background/transacional.svg');">
            <div class="col-lg-9 col-md-9 mx-auto">
                <div class="topo v1">
                    <h2>Faça sua cotação sem compromisso</h2>
                    <p>Por favor, preencha as informações abaixo:</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col-lg-4 col-md-4 mx-auto topo v1">
                    <form #f="ngForm" (ngSubmit)="onSubmit(f)" autocomplete="off">
                        <input type="text" name="name" placeholder="Nome" class="form-control" required
                            (blur)="modelChangedCustomerName($event)"
                            [(ngModel)]="quick.PolicyCustomerList[0].CustomerName">
                        <input type="text" name="telefone" placeholder="DDD + Telefone" class="form-control" required
                            mask="(00) 000-000000" (blur)="modelChangedMobile($event)"
                            [(ngModel)]="quick.PolicyCustomerList[0].Mobile">
                        <input type="email" name="email" placeholder="Email" class="form-control" required
                            (blur)="modelChangedEmail($event)" [(ngModel)]="quick.PolicyCustomerList[0].Email">
                        <select name="valor" id="valor" class="form-control" (change)="modelChangedMarketValue($event)"
                            [(ngModel)]="quick.PolicyLobList[0].PolicyRiskList[0].MarketValue">
                            <option value="" selected> Importância Segurada / Valor do Aparelho</option>
                            <option *ngFor="let item of taixas" value="{{ item.value }}">{{ item.text }}</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row" *ngIf="plan && plan.length > 0">
        <div class="col-lg-12 col-md-12 bg"
            style="background-image: url('./assets/background/transacional-planos.png');">
            <div class="row">
                <div class="col-ld-7 col-md-7 mx-auto text-center">
                    <p class="txt-destaque v4 vo">Seleciona a proposta com o plano ideal para você</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-7 mx-auto text-center plano">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 mx-auto card-planos" *ngIf="plan[0]">
                            <div class="card card-plano">
                                <p class="titulo-planos">Simples</p>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 item-planos">
                                        <img src="./assets/icons/roubo.png" alt="">
                                        <p>Roubo</p>
                                    </div>
                                    <div class="col-lg-4 col-md-4 item-planos">
                                        <img class="lqd" src="./assets/icons/liquidos-cinza.png" alt="">
                                        <p class="txt-planos">Liquidos</p>
                                    </div>
                                    <div class="col-lg-4 col-md-4 item-planos">
                                        <img src="./assets/icons/quebra-cinza.png" alt="">
                                        <p class="txt-planos">Quebra</p>
                                    </div>
                                </div>
                                <p class="valor-planos">R${{plan[0].DuePremium}}</p>
                                <p class="mes-planos">por mês</p>
                                <a href="#" class="btn btn-cotacao" href="javascript:void(0)"
                                    (click)="onSubmit(f, plan[0])" routerLinkActive="active">Quero Contratar</a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 mx-auto card-planos" *ngIf="plan[1]">
                            <div class="card card-plano">
                                <p class="titulo-planos">Completo</p>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 item-planos">
                                        <img src="./assets/icons/roubo.png" alt="">
                                        <p>Roubo</p>
                                    </div>
                                    <div class="col-lg-4 col-md-4 item-planos">
                                        <img class="lqd" src="./assets/icons/liquidos.png" alt="">
                                        <p>Liquidos</p>
                                    </div>
                                    <div class="col-lg-4 col-md-4 item-planos">
                                        <img src="./assets/icons/quebra.png" alt="">
                                        <p>Quebra</p>
                                    </div>
                                </div>
                                <p class="valor-planos">R${{plan[1].DuePremium}}</p>
                                <p class="mes-planos">por mês</p>
                                <a href="#" class="btn btn-cotacao" href="javascript:void(0)"
                                    (click)="onSubmit(f, plan[0])" routerLinkActive="active">Quero Contratar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>