<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 header bg vv" style="background-image: url('./assets/background/post.png'); ">       
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">     
            <div class="row">
                <div class="col-lg-11 col-md-11 mx-auto">
                    <div class="row">
                        <div class="col-lg-9 col-md-9 post">
                            <p class="txt-destaque">15, Janeiro de 2019</p>
                            <h1 class="txt-destaque v4">Título da matéria </h1>
                            <div class="txt-destaque">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis ipsum semper, fringilla diam sed, tempus enim. Suspendisse at ipsum tristique mi hendrerit sollicitudin. Suspendisse vel cursus libero. Maecenas dapibus pulvinar quam sit amet malesuada. Duis ut sodales eros. Ut aliquet eleifend mollis. Vivamus vehicula blandit nulla, a semper arcu venenatis id. Nullam est velit, porta non lectus nec, cursus interdum nibh. Integer faucibus tincidunt nisl, ut lacinia libero luctus vitae. Duis viverra, mauris ac euismod tempus, eros ligula viverra lectus, vitae molestie magna sapien at felis. Proin id nisl odio.
                                </p>
                                <p>
                                    Nunc at odio finibus, tempus nunc ac, tincidunt mi. Cras volutpat erat ac mi aliquam accumsan. Maecenas magna mauris, vestibulum nec vulputate at, maximus non ligula. Mauris posuere libero non turpis lobortis tincidunt. Phasellus tristique mi at cursus vestibulum. In hac habitasse platea dictumst. Proin ante ligula, vehicula sit amet ultricies ac, scelerisque feugiat metus. In vitae quam sed leo scelerisque luctus. Ut venenatis consectetur sapien, vitae egestas felis pretium id. Aliquam justo nibh, vulputate nec suscipit et, faucibus at tortor. Maecenas in mi et orci tincidunt sodales.
                                </p>
                                <p>
                                   Nulla enim augue, condimentum at nisl nec, consequat aliquet orci. Morbi vitae dolor tortor. Donec convallis quam mauris, eget scelerisque eros tempus ut. Etiam sed nunc nisi. Phasellus sit amet neque euismod, feugiat est at, scelerisque sapien. Curabitur malesuada est justo, vitae maximus orci ultrices at. Aenean vitae lorem a magna porttitor elementum. Aliquam eu orci nibh. Ut faucibus ex vehicula, scelerisque ex sed, posuere est. Aenean egestas varius tortor hendrerit hendrerit. Suspendisse tempor, mi vel hendrerit laoreet, odio leo maximus neque, sit amet fringilla tellus lacus sodales metus.
                                </p>
                                <p>
                                    Sed non porttitor turpis. Pellentesque lectus odio, varius eu interdum in, rhoncus eget elit. Fusce venenatis sodales ullamcorper. Ut eu dolor vel orci consectetur tincidunt vitae sed sapien. Donec sit amet nunc in lorem rutrum sagittis quis sed erat. Nullam pellentesque dolor mattis suscipit interdum. Nullam sit amet eros volutpat velit congue sodales eget id risus. Nunc eu augue sed risus porta consequat et non enim. Phasellus ut neque felis. Sed nec leo sed turpis malesuada vulputate eget at leo. In et lectus euismod, laoreet elit non, accumsan nunc. Etiam at dignissim nisi.
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 card-info">
                                    <img class="share" src="./assets/icons/compartilhar.png" alt="compartilhar">                                        
                                    Compartilhe                                
                                    <img  class="redes" src="./assets/icons/facebook.png" alt="facebook">
                                    <img class="redes vv" src="./assets/icons/twitter.png" alt="twitter">
                                    <img class="redes vo" src="./assets/icons/linkedin.png" alt="linkedin">
                                    <img class="redes vi" src="./assets/icons/envelope-elipse.png" alt="email">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 relacionados">
                            <p class="card">Post relacionados</p>
                            <div class="card">
                                <img src="./assets/photos/blog-post2.png" alt="">
                                <p>Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit
                                </p>
                            </div>
                            <div class="card vo">
                                <img src="./assets/photos/blog-post3.png" alt="">
                                <p>Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit
                                </p>
                            </div>
                            <div class="card vo">
                                <img src="./assets/photos/blog-post4.png" alt="">
                                <p>Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>       
        </div>
    </div>
</div>