@import 'variables';
@import 'components';
@import 'helpers';

.bg {
    &.vv {
        background-size: 100% 100%;
        height: 65vh;
    }
}

.post {
    @include media-breakpoint-down(md) {
        padding: 20% 5% 10% 5%;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        padding: 2% 14% 5% 5%;
    }
    
}

.relacionados {
    
    @include media-breakpoint-down(md) {
        padding: 10% 5%;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        padding: 10% 0;
    }
}
.card-info {
    font-size: 1.2em;
    @include media-breakpoint-down(md) {
        padding: 3% 0 3% 7%;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        padding: 3% 4%;
    }
    img {
        width: 10%;
        position: relative;
    }
    .share {
        right: 3%;
    }
    .redes {
        left: 7%;
        &.vv {
            left: 10%;
        }
        &.vo {
            left: 13%;
        }
        &.vi {
            left: 15%;
        }
    }
}

.card {
    font-size: 1.3em;
    padding: 0 1%;
    border: none;
    background-color: transparent;
    img {
        height: 30vh;
    }
    &.vo {
        padding: 10% 0;
    }
}
